<!DOCTYPE html>
<html ng-app="bottomSheetDemo">
  <head>
    <title>NPDC Bottom sheet demo</title>
    <link href="/assets/npdc-common.css" rel="stylesheet">
    <meta name="viewport" content="initial-scale=1" />
    <style>
      .np-content {
        height: 700px;
      }
    </style>
  </head>
  <script type="text/ng-template" id="bottomSheetDemo.tmpl">
    <npdc:bottom-sheet options="options"></npdc:bottom-sheet>
  </script>

  <body>
    <npdc:app></npdc:app>
  </body>
  <script src="/demo/demos.js"></script>
</html>
