<!DOCTYPE html>
<html ng-app="bottomSheetDemo">
  <head>
    <title>NPDC Bottom sheet demo</title>
    <link href="/assets/npdc-common-master-latest.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="initial-scale=1" />

  </head>
  <script type="text/ng-template" id="bottomSheetDemo.tmpl">
    <npdc:bottom-sheet options="options"></npdc:bottom-sheet>
  </script>

  <body>
    <npdc:app></npdc:app>
    <npdc:create-button class="np-primary-control"></npdc:create-button>
  </body>
  <script src="/demo/demos.js"></script>
</html>
