.npdc-search {
  height: 100%;

  a {
    text-decoration: none;
  }

  md-chips .md-chips {
    box-shadow: none;
  }

  md-list {
    h3 {
      font-size: 18px !important;
      font-weight: bold !important;

      em {
        color: $color-primary-1;
        font-size: 15px;
        margin-left: 1em;
      }
    }

    h4 {
      color: #aaa !important;
      font-size: 12px;
    }
  }

  .np-search-icon {
    background-color: $color-primary-1;
    color: $color-text-light;
    position: relative;
    text-align: center;

    span {
      display: inline-block;
      font-size: 12px;
      font-weight: bold;
      line-height: 40px;
      vertical-align: middle;
    }
  }
}




.np-layout-list:hover {
  background-color: #eee !important;
}
