.npdc-search {
  height: 100%;

  a {
    text-decoration: none;
  }

  md-chips .md-chips {
    box-shadow: none;
  }

  md-list {
    md-list-item.md-2-line .md-list-item-text h3 {
      font-size: 18px;
      font-weight: bold;

      em {
        color: $color-primary-1;
        font-size: 15px;
        margin-left: 1em;
      }
    }

    md-list-item.md-2-line .md-list-item-text h4 {
      color: $color-text-grey;
      font-size: 12px;
    }
  }

  .np-search-icon {
    background-color: $color-primary-1;
    color: $color-text-light;
    position: relative;
    text-align: center;

    span {
      display: inline-block;
      font-size: 12px;
      font-weight: bold;
      line-height: 40px;
      vertical-align: middle;
    }
  }

  .np-layout-list:hover {
    background-color: rgba(100, 100, 100, .1);
  }

  @media(max-width: 900px) {
    md-list {
      md-list-item.md-2-line .md-list-item-text h3 {
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
}

.highlight {
  color: $color-primary-2 !important;
}
