.np-faceting {

  ul {
    list-style-type: none;
    padding: 0;
    -webkit-padding-start: 0;
  }

  .md-chips .md-chip {
    background: rgb(224, 224, 224);
    color: rgb(66, 66, 66);

    .md-chip-remove md-icon {
      color: rgb(66, 66, 66);
      font-size: 18px;
    }

    &.md-focused,
    &.md-focused .md-chip-remove md-icon {
      background: rgb(16, 108, 200);
      color: rgba(255, 255, 255, .87);
    }
  }

  .np-custom-facet {
    box-sizing: border-box;
    margin-bottom: 15px;
    margin-left: 4px;
    margin-right: 4px;
  }

  label,
  .rz-bubble {
    color: rgba(0, 0, 0, .54);
  }

  .np-range-facet {

    rzslider {
      margin: 40px 0 15px;
    }
  }

  .np-faceting-active-filters {
    min-height: 48px;
    padding: 0 15px;

    > * {
      float: left;
    }

    > span {
      margin-top: 15px;
    }
  }

  .np-faceting-autocomplete-icon {
    bottom: 28px;
    color: $color-primary-2;
    left: initial;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: initial;
  }
}
