<!DOCTYPE html>
<div ng-if="tree && field.visible">
  <md-autocomplete md-items="item in querySearch(filter.text)" md-min-length="1" md-search-text="filter.text" md-floating-label="{{ 'gcmd.find' | t }}" md-selected-item-change="onSelect(item)" md-item-text="item.label" md-menu-class="np-autocomplete-custom">

    <md-item-template>
      <span class="np-autocomplete-custom-main">
        <span md-highlight-flags="^i" md-highlight-text="filter.text">
          {{item.label}}
        </span>
      </span>
      <span class="np-autocomplete-custom-meta shade">
        <span>{{ parents(item) }}</span>
      </span>
    </md-item-template>
  </md-autocomplete>

  <md-input-container>
    <label>{{ keyword.Category.title }}</label>
    <md-select ng-model="keyword.Category.value">
      <md-option ng-repeat="val in treeValues(1)" value="{{::val.label}}">{{val.label}}</md-option>
    </md-select>
  </md-input-container>

  <md-input-container ng-if="!!keyword.Category.value">
    <label>{{ keyword.Topic.title }}</label>
    <md-select ng-model="keyword.Topic.value">
      <md-option ng-repeat="val in treeValues(2)" value="{{::val.label}}">{{val.label}}</md-option>
    </md-select>
  </md-input-container>

  <md-input-container ng-if="!!keyword.Topic.value">
    <label>{{ keyword.Term.title }}</label>
    <md-select ng-model="keyword.Term.value">
      <md-option ng-repeat="val in treeValues(3)" value="{{::val.label}}">{{val.label}}</md-option>
    </md-select>
  </md-input-container>

  <md-input-container ng-if="!!keyword.Term.value">
    <label>{{ keyword.Variable_Level_1.title }}</label>
    <md-select ng-model="keyword.Variable_Level_1.value">
      <md-option ng-repeat="val in treeValues(4)" value="{{::val.label}}">{{val.label}}</md-option>
    </md-select>
  </md-input-container>

  <md-input-container ng-if="!!keyword.Variable_Level_1.value">
    <label>{{ keyword.Variable_Level_2.title }}</label>
    <md-select ng-model="keyword.Variable_Level_2.value">
      <md-option ng-repeat="val in treeValues(5)" value="{{::val.label}}">{{val.label}}</md-option>
    </md-select>
  </md-input-container>

  <md-input-container ng-if="!!keyword.Variable_Level_2.value">
    <label>{{ keyword.Variable_Level_3.title }}</label>
    <md-select ng-model="keyword.Variable_Level_3.value">
      <md-option ng-repeat="val in treeValues(6)" value="{{::val.label}}">{{val.label}}</md-option>
    </md-select>
  </md-input-container>

  <md-input-container>
    <label>{{ keyword.Detailed_Variable.title }}</label>
    <input type="text" ng-model="keyword.Detailed_Variable.value" />
  </md-input-container>
</div>
