<!DOCTYPE html>
<section ng-if="data.length > 0">

  <h3>Download data</h3>
  <md-divider></md-divider>
  <md-list>
    <md-list-item class="md-2-line" ng-repeat="d in data">
        <md-icon>file_download</md-icon>
        <div class="md-list-item-text">
          <h3><a ng-href="{{d.href}}"> {{ d.title || d.href }} {{d.type ? '('+d.type+')':''}}</a></h3>
          <p>
            <span ng-repeat="licence in licenses">
              <a ng-href="{{licence}}">{{ licenceText(licence); }}</a>{{ $last ? '':', '}}
            </span>
          </p>
        </div>
    </md-list-item>
    <div>{{ rights }}</div>
  </md-list>
</section>
