<!DOCTYPE html>
<section ng-if="data.length > 0">
  <md-divider></md-divider>
  <h3>Data</h3>
  
  <md-list>
    <md-list-item class="md-2-line" ng-repeat="d in data">
        <md-icon>file_download</md-icon>
        <!--div class="md-list-item-text">-->
          <p><a ng-href="{{d.href}}"> {{ d.title || d.href }} {{d.type ? '('+d.type+')':''}}</a></p>
          <!--<p>
            <span ng-repeat="licence in licenses">
              <a ng-href="{{licence}}">{{ licenceText(licence); }}</a>{{ $last ? '':', '}}
            </span>
          </p>-->
        <!--/div>-->
    </md-list-item>
    <div marked="rights"></div>
  </md-list>
</section>
