<!DOCTYPE html>
<section>
  <h3>Links</h3>
  <md-divider></md-divider>
  <md-list>
    <md-list-item class="md-2-line" ng-repeat="link in links">
      <div class="md-list-item-text">
        <a ng-href="{{link.href}}">{{ link.title || link.href }}</a>
        <p>{{ link.rel }}</p>
      </div>
    </md-list-item>
  </md-list>

  <div>
    <h3>Relevant documents</h3>
    <md-list>
      <md-subheader class="md-no-sticky" ng-repeat-start="collection in related" ng-if="collection[0]">{{ title(collection) }}</md-subheader>
      <md-list-item ng-repeat="rel in collection" ng-if="rel._score > 0.1" ng-repeat-end>
        <div class="md-list-item-text">
          <a ng-href="{{'/' + rel.collection + '/' + rel.id}}">{{ rel.title }}</a>
        </div>
      </md-list-item>
    </md-list>
  </div>

</section>
