<!DOCTYPE html>
<html ng-app="start">

  <head>
    <title>NPDC Start Page</title>
    <link href="/assets/npdc-common-master-latest.css" rel="stylesheet">
    <meta name="viewport" content="initial-scale=1" />
  </head>
  <body>
    <npdc:toolbar></npdc:toolbar>

    <!-- Start Page Header -->

    <div class="start-header">
      <img class="start-header-logo" alt="Norsk Polarinstutt [logo]" src="http://www.npolar.no/npcms/export/sites/np/images/logos/norsk-polarinstitutt-logo-norsk-hvit.png">
      <h1 class="start-header-title">Norwegian Polar Data Centre</h1>
      <h2 class="start-header-subtitle">Search, visualize, and download scientific data about the polar regions</h2>
    </div>

    <!-- Section 1 -->

    <div class="start-section p3" layout="row">
      <div flex="50">
        <h1>Data</h1>
        <h3>Scientific data repository from the Arctic and Antarctic</h3>
        <div class="card-circle">
          <md-icon>storage</md-icon>
        </div>
      </div>
      <div flex="50">

      </div>
    </div>
    <div class="start-section p1" layout="row">
      <div flex="50">
      </div>
      <div flex="50">
        <h1>Map Archive</h1>
        <h3>Archive of historical maps from the Arctic and Antarctic</h3>
        <div class="card-circle">
          <md-icon>room</md-icon>
        </div>
      </div>
    </div>
    <div class="start-section p2" layout="row">
      <div flex="50">
        <h1>Expeditions</h1>
        <h3>Overview of scientific field campaigns and cruises</h3>
        <div class="card-circle">
          <md-icon>explore</md-icon>
        </div>
      </div>
      <div flex="50">

      </div>
    </div>
    <div class="start-section p1" layout="row">
      <div flex="50">

      </div>
      <div flex="50">
        <h1>Papers</h1>
        <h3>Scientific papers produced at the Norwegian Polar Institute</h3>
        <div class="card-circle">
          <md-icon>description</md-icon>
        </div>
      </div>
    </div>
    <div class="start-section p4" layout="row">
      <div flex="50">
        <h1>Projects</h1>
        <h3>Arctic and Antarctic projects at the Norwegian Polar Institute</h3>
        <div class="card-circle">
          <md-icon>business</md-icon>
        </div>
      </div>
      <div flex="50">

      </div>
    </div>
    <div class="start-section p1" layout="row">
      <div flex="50">
      </div>
      <div flex="50">
        <h1>Data Policy</h1>
        <h3>Information about the Norwegian Polar Datacentre's policys</h3>
        <div class="card-circle">
          <md-icon>work</md-icon>
        </div>
      </div>
    </div>
    <div class="start-section p5" layout="row">
      <div flex="50">
        <h1>Browse...</h1>
        <h3>Other content and services at the Norwegian Polar Datacentre</h3>
        <div class="card-circle">
          <md-icon>dashboard</md-icon>
        </div>
      </div>
      <div flex="50">

      </div>
    </div>
  </body>
  <script src="/demo/demos.js"></script>
</html>
