$header-shadow: 0.05em 0.05em rgba(0, 0, 0, 0.5);

.start-header {
  position         : relative;
  top              : 64px;
  text-align       : center;
  height           : calc(50% - 64px);
  width            : 100%;
  background-color : #0F3F4C;
  color            : #fff;
}

.start-header-logo {
  position : relative;
  top      : 64px;
  height   : 128px;
  width    : 128px;
}

.start-header-title {
  position       : relative;
  top            : calc(50% - 128px);
  margin         : 0;
  font-size      : 50px;
  text-shadow    : $header-shadow;
  text-transform : uppercase;
}

.start-header-subtitle {
  position    : relative;
  top         : calc(50% - 128px);
  text-shadow : $header-shadow;
}

.start-section {
  position       : relative;
  top            : 64px;
  width          : 100%;
  height         : 50%;
  font-size      : 1.25em;
  text-align     : center;
  text-shadow    : $header-shadow;
  box-sizing     : border-box;
  padding        : 10px;

  h1 {
    text-transform : uppercase;
  }
}

.card-circle {
  height           : 120px;
  width            : 120px;
  border-radius    : 50%;
  margin           : auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
  0 3px 1px -2px rgba(0, 0, 0, .2),
  0 1px 5px 0 rgba(0, 0, 0, .12);
  cursor: default !important;

  md-icon {
    height     : 1em;
    width      : 1em;
    position   : relative;
    font-size  : 80px;
    text-align : center;
    top        : calc(50% - 40px)
  }
}

.start-section.p1 {
  background-color : #fff;
  color            : #222425;

  .card-circle {
    background-color: #222425;

    md-icon {
      color: rgba(255,255,255,.5)
    }
  }
}

.start-section.p2 {
  background-color : #0E4E7F;
  color            : #fff;

  .card-circle {
    background-color: #67A2CF;
  }
}

.start-section.p3 {
  background-color : #36454f;
  color            : #fff;

  .card-circle {
    background-color : #656F75;
  }
}

.start-section.p4 {
  background-color : #410016;
  color            : #fff;

  .card-circle {
    background-color: #751334;
  }
}

.start-section.p5 {
  background-color : #16384E;
  color            : #fff;

  .card-circle {
    background-color : #656F75;
  }
}

