npdc\:create-button,
npdc\:edit-button,
npdc\:save-button
{
  position: fixed;
  bottom: -24px;
  right: -24px;
  z-index: 999;
  opacity: 0.6;
  transform: scale(.8, .8);
}

npdc\:create-button:hover,
npdc\:edit-button:hover,
npdc\:save-button:hover
{
  transition: .5s;
  opacity: 1.0;
  right: 0;
  bottom: 0;
  transform: scale(1, 1);
}
