.np-tabs-nav {
  border-bottom: 1px solid rgba(0, 0, 0, .08);
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;

  a {
    text-decoration: none;
  }

  md-virtual-repeat-container {
    height: 48px;
    width: 100%;

    .md-virtual-repeat-scroller {
      overflow: hidden !important;
    }
  }

  .np-nav-scroll {
    cursor: pointer;
    height: 48px;
    width: 32px;

    md-icon {
      margin: 12px auto;
    }
  }

  .np-nav-item {
    color: $color-text-grey;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 24px;
    position: relative;
    text-transform: uppercase;
    white-space: nowrap;

    &.active {
      border-bottom: 2px solid $color-primary-0;
      color: $color-primary-2;
    }

    &.error {
      color: $color-np-error;
    }
  }
}

.np-tabs {
  box-sizing: border-box;
  display: block;
  left: 0;
  position: relative;
  transition: left .5s cubic-bezier(.35, 0, .25, 1);
  white-space: nowrap;

  .np-tab {
    box-sizing: border-box;
    display: inline-block;
    height: 300px;
    max-width: 100%;
    overflow: visible;
    transition: visibility .2s .2s;
    vertical-align: top;
    visibility: hidden;
    white-space: normal;
    width: 100%;

    &.active {
      height: auto;
      overflow: visible;
      visibility: visible;
    }
  }
}
