<!DOCTYPE html>
<md-whiteframe class="np-search-input md-whiteframe-z1">
  <div>
    <div layout="row">
      <md-input-container flex md-no-float md-autofocus class="np-search-input-input">
        <md-icon>search</md-icon>
        <input ng-model="q" placeholder="{{options.placeholder}}" type="text">
      </md-input-container>
      <md-button class="md-icon-button" ng-click="toggleFilters();">
        <md-icon>build</md-icon>
        <md-tooltip>Filter search</md-tooltip>
      </md-button>
    </div>

    <npdc:faceting options="options" ng-class="{ open: isFiltersOpen }"></npdc:faceting>
  </div>
</md-whiteframe>
