.np-search-input {
  display: block;
  margin-bottom: 3px;

  .np-search-input-input {
    margin: 15px 15px 0;
  }

  .np-faceting-facets {
    background-color: rgba(176, 190, 197, .15);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2) inset;
    max-height: 0;
    opacity: 0;
    padding: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
    visibility: hidden;
  }

  .open .np-faceting-facets {
    max-height: 900px;
    opacity: 1;
    padding: 8px 15px;
    visibility: visible;
  }

  .filter-icon {
    background-image: url('/assets/img/filter.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    display: inline-block;
    height: 48px;
    opacity: .6;
    width: 48px;
  }
}
