<fieldset ng-class="{ valid: field.valid, error: field.error }" ng-if="field.visible">
  <md-whiteframe class="md-whiteframe-z2">

    <legend>
      <div>{{ field.title }} ({{ field.nrArrayValues() }})</div>
      <div npdc:formula-field-info class="np-field-info" ng-if="::field.description"></div>
    </legend>

    <ul ng-if="::field.typeOf('field')" class="np-formula-list">
      <li ng-repeat="value in field.values" ng-class="{ valid: field.valid, error: field.error }" class="np-formula-list-item">
        <formula:field field="value" class="multi-ctrls"></formula:field>
        <div class="np-formula-input-ctrls">
          <md-menu>
            <md-button aria-label="Actions" class="md-icon-button" ng-click="$mdMenu.open($event)">
              <md-icon md-menu-origin>menu</md-icon>
              <md-tooltip md-direction="left">{{ i18n.text.actions.tooltip }}</md-tooltip>
            </md-button>
            <md-menu-content>
              <md-menu-item ng-show="!$first">
                <md-button ng-click="field.moveUp($index)">
                  <md-icon md-menu-align-target>arrow_upward</md-icon> {{ i18n.text.moveup.label }}
                  <md-tooltip md-direction="left">{{ i18n.text.moveup.tooltip }}</md-tooltip>
                </md-button>
              </md-menu-item>
              <md-menu-item ng-show="!$last">
                <md-button ng-click="field.moveDown($index)">
                  <md-icon md-menu-align-target>arrow_downward</md-icon> {{ i18n.text.movedown.label }}
                  <md-tooltip md-direction="left">{{ i18n.text.movedown.tooltip }}</md-tooltip>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="field.itemRemove($index)" class="md-warn">
                  <md-icon md-menu-align-target>delete</md-icon> {{ i18n.text.remove.label }}
                  <md-tooltip md-direction="left">{{ i18n.text.remove.tooltip }}</md-tooltip>
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
      </li>
    </ul>

    <ul ng-if="::field.typeOf('fieldset')" class="np-formula-list">
      <li ng-repeat="value in field.values" ng-if="!value.hidden" class="np-formula-list-item">
        <div class="np-formula-collapsed-item" ng-if="!value.visible" ng-click="field.itemToggle($index)"></div>
        <md-whiteframe class="md-whiteframe-z2">
          <fieldset ng-class="{ valid: value.valid }">
            <legend>
              <!--span class="np-formula-array-object-title">{{ value.title }}</span-->
              <span ng-if="!value.visible">{{ value.value | formulaInlineValues }}</span>
              <div class="np-formula-object-ctrls">
                <div npdc:formula-field-info class="np-field-info" ng-if="value.description"></div>
                <a href="" ng-click="field.itemToggle($index)">
                  <md-icon>{{ value.visible ? 'expand_less' : 'expand_more' }}</md-icon>
                  <md-tooltip>{{ value.visible ? i18n.text.minimize.tooltip : i18n.text.maximize.tooltip }}</md-tooltip>
                </a>
                <md-menu>
                  <md-button aria-label="Actions" class="md-icon-button" ng-click="$mdMenu.open($event)">
                    <md-icon md-menu-origin>menu</md-icon>
                    <md-tooltip md-direction="left">{{ i18n.text.actions.tooltip }}</md-tooltip>
                  </md-button>
                  <md-menu-content>
                    <md-menu-item ng-show="!$first">
                      <md-button ng-click="field.moveUp($index)">
                        <md-icon md-menu-align-target>arrow_upward</md-icon> {{ i18n.text.moveup.label }}
                        <md-tooltip md-direction="left">{{ i18n.text.moveup.tooltip }}</md-tooltip>
                      </md-button>
                    </md-menu-item>
                    <md-menu-item ng-show="!$last">
                      <md-button ng-click="field.moveDown($index)">
                        <md-icon md-menu-align-target>arrow_downward</md-icon> {{ i18n.text.movedown.label }}
                        <md-tooltip md-direction="left">{{ i18n.text.movedown.tooltip }}</md-tooltip>
                      </md-button>
                    </md-menu-item>
                    <md-menu-item>
                      <md-button ng-click="field.itemRemove($index)" class="md-warn">
                        <md-icon md-menu-align-target>delete</md-icon> {{ i18n.text.remove.label }}
                        <md-tooltip md-direction="left">{{ i18n.text.remove.tooltip }}</md-tooltip>
                      </md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
              </div>
            </legend>
            <formula:field field="value" ng-if="value.visible" class="np-formula-array-fieldset"></formula:field>
          </fieldset>
        </md-whiteframe>
      </li>
    </ul>

    <div class="np-formula-array-add">
      <md-button ng-click="field.itemAdd()" class="md-fab md-mini md-primary md-hue-1" aria-label="{{ i18n.text.add.tooltip }}">
        <md-icon>add</md-icon>
        <md-tooltip>{{ i18n.text.add.tooltip }}</md-tooltip>
      </md-button>
    </div>
    <div style="clear: both;"></div>
  </md-whiteframe>
</fieldset>
