<!DOCTYPE html>
<npdc:loader ng-if="!form.ready"></npdc:loader>
<form name="formula" class="formula" ng-show="form.ready">
  <header ng-if="::form.title">
    {{ ::form.title }}
  </header>

  <md-tabs md-dynamic-height md-border-bottom>
      <formula:fieldsets></formula:fieldsets>
  </md-tabs>

  <div layout="row" layout-align="space-between center" ng-if="::!data.hideButtons">
    <span ng-if="form.errors" title="{{ form.errors.join('\n') }}">{{ form.i18n.invalid | formulaReplace : { count: form.errors.length } }}</span>

    <div>
      <md-button class="md-raised" ng-click="form.validate(true)" title="{{ form.i18n.validate[1] }}">
        <md-icon>check</md-icon>
        {{ form.i18n.validate[0] }}</md-button>
      <md-button class="md-raised md-primary" ng-click="form.save()" ng-disabled="!form.valid" title="{{ form.i18n.save[1] }}">
        <md-icon>save</md-icon>
        {{ form.i18n.save[0] }}</md-button>
    </div>

  </div>
</form>
