<!DOCTYPE html>
<div>
  <form name="formula" class="formula" ng-show="form.ready">
    <header ng-if="::form.title">
      {{ form.title }}
    </header>

    <npdc:tabs tabs="form.fieldsets" tabactivate="form.activate"></npdc:tabs>
    <formula:fieldsets class="np-tabs np-formula-fieldsets"></formula:fieldsets>

    <div class="np-padding">
      <span ng-if="form.errors" title="{{ form.errors.join('\n') }}">{{ i18n.text.invalid | formulaReplace : { count: form.errors.length } }}</span>
    </div>
  </form>
</div>
