<a ng-show="security.isAuthorized('delete', resource.path)"><md-button ng-click="deleteClicked = !deleteClicked" ng-disabled="deleting || saving" class="md-fab md-mini md-warn" aria-label=""><md-icon>delete</md-icon><md-tooltip>Delete</md-tooltip></md-button></a>

<div ng-init="deleteClicked=false" ng-show="deleteClicked">
  
  <h3>Really DELETE?</h3>

  <md-button ng-click="deleteClicked = !deleteClicked" type="button" class="">Cancel</md-button>
  <md-button type="button" ng-click="delete()" class="md-button md-mini md-warn">Delete</md-button>

</div>