<!DOCTYPE html>
<html ng-app="sidenav">
  <head>
    <title>NPDC Sidenav component</title>
    <link href="/assets/npdc-common-master-latest.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="initial-scale=1" />
    <base href="/components/sidenav/">
  </head>
  <body>
    <div ng-controller="SidenavCtrl">
      <npdc:sidenav sidenav="mySidenav"></npdc:sidenav>
    </div>
    <div>Route: <span ng-view></span></div>
    <script src="/demo/demos.js"></script>
  </body>
</html>
