<!DOCTYPE html>
<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
  <div class="np-sidenav-img md-whiteframe-z1">
    <img alt="Norsk Polarinstutt [logo]" src="http://www.npolar.no/npcms/export/sites/np/images/logos/norsk-polarinstitutt-logo-norsk-hvit.png">
    <h1 class="md-title" style="color: white; text-align: center; font-weight: bold;">Norwegian Polar Data Centre</h1>
  </div>
  <div class="np-sidenav-title md-whiteframe-z1" layout-padding>
    <span class="md-title">{{sidenav.title}}</span>
  </div>
  <md-content>
    <ul class="np-sidenav-menu">
      <li ng-repeat="item in sidenav.menu" layout>
        <md-button flex ng-href="{{item.link}}">{{item.title}}</md-button>
      </li>
    </ul>
  </md-content>
</md-sidenav>
