<!DOCTYPE html>
<section ng-if="document.people && document.people.length > 0">
  <h3>People</h3>
  <md-divider></md-divider>
  <md-list>
    <md-list-item class="md-2-line" ng-repeat="person in document.people">
      <md-icon class="md-avatar-icon">person</md-icon>
        <div class="md-list-item-text">
          <h3> {{ person.first_name }} {{ person.last_name }} </h3>
          <p><a href="mailto:{{person.email}}">{{ person.email }}</a></p>
        </div>
      </md-list-item>
    </md-list>
</section>
