<!DOCTYPE html>
<section ng-if="document.people && document.people.length > 0">
  <md-divider></md-divider>
  <h3>{{ 'People' | t }}</h3>
  <md-list>
    <md-list-item class="md-2-line" ng-repeat="person in document.people">
      <md-icon class="md-avatar-icon">person</md-icon>
        <div class="md-list-item-text">
          <h3><a ng-href="{{resource.uiBase}}?q={{ person.first_name }}+{{ person.last_name }}&filter-people.last_name={{ person.last_name }}">
            {{ person.first_name }} {{ person.last_name }}</a></h3>
          <p ng-if="person.organisation">{{ person.organisation | t }}</p>
          <p ng-if="person.role">{{ person.role | t}}</p>
          <p ng-if="person.roles">
            <span ng-repeat="r in person.roles">{{ r | t }}
              <span ng-if="person.email && r=='pointOfContact'"> [{{ person.email}}] {{ person.homepage}}</span><span ng-if="!$last">, </span>
            </span>
          </p>
        </div>
      </md-list-item>
    </md-list>
</section>
