<!DOCTYPE html>
<md-card ng-if="document.people && document.people.length > 0">
    <md-card-header>
      <md-card-avatar>
        <md-icon>person</md-icon>
      </md-card-avatar>
      <md-card-header-text>
        <span class="md-headline">{{'People' | t}}</span>
        <span class="md-subhead"></span>
      </md-card-header-text>
    </md-card-header>
    <md-card-content>
      <p ng-repeat="p in document.people">
        <span id="{{ p.first_name | lowercase }}+{{ p.last_name | lowercase}}" class="anchor"></span>
        <span>
          {{ p.first_name}} {{ p.last_name}}
        </span>

        <span ng-if="p.organisation">({{ (p.organisation) }})</span>
        <i ng-repeat="r in p.roles || [p.role]">{{ r | t }}<span ng-if="!$last">, </span></i>

        <a ng-if="p.homepage" ng-href="{{p.homepage}}"><md-icon alt="Homepage">home</md-icon><md-tooltip>{{'Homepage'}}: {{p.homepage}}</md-tooltip></a>
        <a ng-if="p.email && isPointOfContact(p)" ng-href="mailto:{{p.email}}"><md-icon>email</md-icon></a>
        <!-- todo nice menu <md-button ng-href="{{resource.uiBase}}?q={{ p.name }}&filter-people.last_name={{p.last_name}}">{{ 'Search' }}</md-button>-->

      </p>
    </md-card-content>
  </md-card>
