.np-autocomplete-custom {
  li {
    border-bottom: 1px solid #ccc;
    height: auto;
    padding-bottom: 8px;
    padding-top: 8px;
    white-space: normal;
  }

  li:last-child {
    border-bottom-width: 0;
  }

  .shade {
    color: $color-text-grey;

    span {
      color: $color-text-grey;
    }
  }

  .np-autocomplete-custom-main,
  .np-autocomplete-custom-meta {
    display: block;
    line-height: 2;
  }
}

.leaflet-container {
  .leaflet-draw-actions {

    a {
      color: $color-text-light;
    }
  }
}
