<!DOCTYPE html>
<html ng-app="grid">

<head>
  <title>NPDC Grid layout</title>
  <link href="/assets/npdc-common-master-latest.css" rel="stylesheet">
  <meta name="viewport" content="initial-scale=1" />
</head>

<body>
  <div>
    <md-content layout-padding class="np-layout-grid">
      <md-grid-list md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="4:3" md-gutter="8px" md-gutter-gt-sm="4px">
        <md-grid-tile md-colspan-gt-sm="1" md-rowspan-gt-sm="1">
          <div class="np-grid-flex">
            <img alt="Map" src="https://data.npolar.no/_file/map/archive/open/legacy/12314/small/Restserie_053.jpg" class="np-grid-img">
          </div>
          <md-grid-tile-footer>
            <h3>Nordishavet</h3>
          </md-grid-tile-footer>
        </md-grid-tile>
        <md-grid-tile md-colspan-gt-sm="1" md-rowspan-gt-sm="1">
          <div class="np-grid-flex">
            <img alt="Map" src="demo/Antarktis_diverse_11.jpg" class="np-grid-img">
          </div>
          <md-grid-tile-footer>
            <h3>Antarktis</h3>
          </md-grid-tile-footer>
        </md-grid-tile>
        <md-grid-tile md-colspan-gt-sm="1" md-rowspan-gt-sm="1">
          <div class="np-grid-flex">
            <img alt="Map" src="demo/AO_NorthSibiria_28.jpg" class="np-grid-img">
          </div>
          <md-grid-tile-footer>
            <h3>North Sibiria</h3>
          </md-grid-tile-footer>
        </md-grid-tile>
        <md-grid-tile md-colspan-gt-sm="1" md-rowspan-gt-sm="1">
          <div class="np-grid-flex">
            <img alt="Map" src="demo/AO_NorthSibiria_32.jpg" class="np-grid-img">
          </div>
          <md-grid-tile-footer>
            <h3>North Sibiria</h3>
          </md-grid-tile-footer>
        </md-grid-tile>
        <md-grid-tile md-colspan-gt-sm="1" md-rowspan-gt-sm="1">
          <div class="np-grid-flex">
            <img alt="Map" src="demo/AO_NorthSibiria_41.jpg" class="np-grid-img">
          </div>
          <md-grid-tile-footer>
            <h3>North Sibiria</h3>
          </md-grid-tile-footer>
        </md-grid-tile>
        <md-grid-tile md-colspan-gt-sm="1" md-rowspan-gt-sm="1">
          <div class="np-grid-flex">
            <img alt="Map" src="demo/AO_NorthSibiria_52.jpg" class="np-grid-img">
          </div>
          <md-grid-tile-footer>
            <h3>North Sibiria</h3>
          </md-grid-tile-footer>
        </md-grid-tile>
        <md-grid-tile md-colspan-gt-sm="1" md-rowspan-gt-sm="1">
          <div class="np-grid-flex">
            <img alt="Map" src="demo/AO_NorthSibiria_60.jpg" class="np-grid-img">
          </div>
          <md-grid-tile-footer>
            <h3>North Sibiria</h3>
          </md-grid-tile-footer>
        </md-grid-tile>
        <md-grid-tile md-colspan-gt-sm="1" md-rowspan-gt-sm="1">
          <div class="np-grid-flex">
            <img alt="Map" src="demo/Claims_Svalbard_14.jpg" class="np-grid-img">
          </div>
          <md-grid-tile-footer>
            <h3>Claims Svalbard</h3>
          </md-grid-tile-footer>
        </md-grid-tile>
        <md-grid-tile md-colspan-gt-sm="1" md-rowspan-gt-sm="1">
          <div class="np-grid-flex">
            <img alt="Map" src="demo/Fishereikarte_1183_38.jpg" class="np-grid-img">
          </div>
          <md-grid-tile-footer>
            <h3>Fishereikarte</h3>
          </md-grid-tile-footer>
        </md-grid-tile>
        <md-grid-tile md-colspan-gt-sm="1" md-rowspan-gt-sm="1">
          <div class="np-grid-flex">
            <img alt="Map" src="demo/Grønland_21D_4_15.jpg" class="np-grid-img">
          </div>
          <md-grid-tile-footer>
            <h3>Greenland</h3>
          </md-grid-tile-footer>
        </md-grid-tile>
        <md-grid-tile md-colspan-gt-sm="1" md-rowspan-gt-sm="1">
          <div class="np-grid-flex">
            <img alt="Map" src="demo/MagdaleneBay_1923.jpg" class="np-grid-img">
          </div>
          <md-grid-tile-footer>
            <h3>MagdaleneBay 1923</h3>
          </md-grid-tile-footer>
        </md-grid-tile>
        <md-grid-tile md-colspan-gt-sm="1" md-rowspan-gt-sm="1">
          <div class="np-grid-flex">
            <img alt="Map" src="demo/Skap32A-3_37.jpg" class="np-grid-img">
          </div>
          <md-grid-tile-footer>
            <h3>Skap</h3>
          </md-grid-tile-footer>
        </md-grid-tile>
        <md-grid-tile md-colspan-gt-sm="1" md-rowspan-gt-sm="1">
          <div class="np-grid-flex">
            <img alt="Map" src="demo/Svalbardkart_20tallet_5.jpg" class="np-grid-img">
          </div>
          <md-grid-tile-footer>
            <h3>Svalbard 1920</h3>
          </md-grid-tile-footer>
        </md-grid-tile>
        <md-grid-tile md-colspan-gt-sm="1" md-rowspan-gt-sm="1">
          <div class="np-grid-flex">
            <img alt="Map" src="demo/Svalbardkart_20tallet_9.jpg" class="np-grid-img">
          </div>
          <md-grid-tile-footer>
            <h3>Svalbard 1920</h3>
          </md-grid-tile-footer>
        </md-grid-tile>
      </md-grid-list>
    </md-content>

  </div>

  <script src="/demo/demos.js"></script>
</body>

</html>
