<!DOCTYPE html>
<md-toolbar class="np-toolbar">
  <div class="md-toolbar-tools np-toolbar-content">
    <a ng-href="{{options.toolbarLogoLink}}" class="np-toolbar-logo">
      <img src="{{options.toolbarLogo}}" width="50px" height="50px" />
    </a>

    <span><b>{{options.toolbarTitle}}</b></span>
    <span class="np-toolbar-title">&nbsp;Norwegian Polar Data Centre</span>
    

    <span class="flex">
      <!-- This span is used to push the other content to the right -->
    </span>

    <!-- Application menu -->

    <md-menu>
      <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
        <md-icon md-menu-origin>apps</md-icon>
      </md-button>
      <md-menu-content width="6">
        <div ng-repeat="group in options.toolbarMenuGroups">
          <md-subheader class="md-sticky">{{group.name}}</md-subheader>
          <div ng-repeat="app in group.apps">
            <md-menu-item>
              <md-button ng-href="{{app.link}}">{{app.name}}</md-button>
            </md-menu-item>
            <div ng-if="$last">
              <md-divider></md-divider>
            </div>
          </div>
        </div>
      </md-menu-content>
    </md-menu>

    <!-- Shortcuts to my applications -->

    <md-menu ng-show="security.isAuthenticated()">
      <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
        <md-icon md-menu-origin>flash_on</md-icon>
      </md-button>
      <md-menu-content width="6">
        <div ng-repeat="group in options.toolbarInternalApps">
          <md-subheader class="md-sticky">{{group.name}}</md-subheader>
          <div ng-repeat="app in group.apps">
            <md-menu-item ng-if="security.hasSystem(app.link)">
              <md-button ng-href="{{app.link}}">{{app.name}} </md-button>
            </md-menu-item>
            <div ng-if="$last">
              <md-divider></md-divider>
            </div>
          </div>
        </div>
      </md-menu-content>
    </md-menu>

    <!-- Login + Search controls -->

    <npdc:user-menu></npdc:user-menu>
    <npdc:expand-search options="options.search"></npdc:expand-search>
  </div>
</md-toolbar>
