.np-toolbar {
  box-shadow: $bar-shadow;
  height: 64px;
  position: fixed;
  top: 0;
  z-index: 1005;

  .np-toolbar-logo {
    margin-right: 15px;
  }

  .np-toolbar-content {
    height: 64px;
    max-height: 64px;

    > a {
      color: $color-text-light;
    }
  }

  npdc\:expand-search {
    max-height: 100%;
  }

  npdc\:user-menu {
    margin-right: 60px;
  }

  em {
    font-size: 16px;
    font-weight: bold;
  }

  .np-toolbar-title {
    margin: 0 1.25em;
  }
}

@media(max-width: 900px) {
  .np-toolbar-title {
    visibility: hidden;
  }
}
