.np-toolbar {
  box-shadow: $bar-shadow;
  height: 64px;
  position: fixed;
  top: 0;
  z-index: 5;

  .np-toolbar-content {
    height: 64px;
    max-height: 64px;
  }

  .np-toolbar-title {
    margin-left: 15px;
  }

  npdc\:expand-search {
    max-height: 100%;
  }

  .md-toolbar-tools {
    padding-right: 72px;
  }
}

@media(max-width: 900px) {
  .np-toolbar-title {
    display: none;
  }
}
