
npdc\:app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
}

$offset: 9%;

.np-content-wrapper {
  background-color: $color-bg-dark;
  min-height: calc(100vh - 215px); // subtract footer!
  overflow: visible;

  .np-content-card {
    margin: 0 $offset;
    padding-top: 74px;
    width: 82%;
    z-index: 2;
  }

  .np-content-title {
    background-color: $color-primary-2;
    box-shadow: $bar-shadow;
    padding: 0 15px;
    text-align: center;

    h3 {
      color: $color-text-light;
      text-shadow: 1px 1px 2px $color-text-dark;
    }
  }

  .np-content {
    background-color: $color-text-light;
    margin-bottom: 64px;
    min-height: 480px;
    position: relative;
  }

}

.np-sub-toolbar {
  background-color: $color-primary-1;
  box-shadow: $bar-shadow;
  height: 192px;
  position: fixed;
  top: 0;
  width: 100%;
}

$control-size: 56px;

.np-primary-control {
  height: $control-size;
  position: fixed;
  right: calc((#{$offset} / 2) - (#{$control-size} / 2));
  top: 162px;
  width: $control-size;
  z-index: 1004;

  a,
  button {
    margin: 0;
  }
}

// Responsive rules
@media(max-width: 900px) {
  .np-content-wrapper .np-content-card {
    margin: 0;
    width: 100%;
  }

  .np-primary-control {
    right: 10px;
    top: calc(100% - 66px);
  }

  .np-toolbar-title {
    display: none;
  }
}


@media(min-width: 1920px) {

  $offset: 5%;

  .np-content-wrapper .np-content-card {
    margin: 0 $offset;
    width: 90%;
  }

  .np-primary-control {
    right: calc((#{$offset} / 2) - (#{$control-size} / 2));
  }
}

md-toast {
  margin: 74px 10px 10px;

  &.error {
    background-color: $color-np-error;
  }
}

.np-environment-warning {
  $color: #f00;
  bottom: 10px;
  color: $color;
  font-weight: bold;
  position: fixed;
  right: calc(50% - 100px);
  text-shadow: 1px 1px $color-text-dark;
  z-index: 3;
}

// Leaflet uses z.index up to 1000, so bumping some others...
.md-virtual-repeat-container.md-autocomplete-suggestions-container {
  z-index: 1100;
}
