<!DOCTYPE html>
<npdc:toolbar options="options"></npdc:toolbar>
<div ng-if="warning" class="np-environment-warning">!! Environment: Production !!</div>



<!-- Content wrapper -->
<md-content class="np-content-wrapper">
  <!-- Subheader bar -->
  <div class="np-sub-toolbar"></div>
  <md-card class="np-content-card">
    <md-toolbar class="np-content-title">
      <h3>{{options.cardTitle}}</h3>
    </md-toolbar>
    <md-content class="np-content" layout="column" layout-padding>
      <!--div class="np-bottom-sheet-container"><div class="np-bottom-sheet-inner-container"></div></div-->
      <npdc:crumbs></npdc:crumbs>
      <div flex ng-view></div>
    </md-content>
  </md-card>
</md-content>

<div npolar-api-message></div>
