<!DOCTYPE html>
<npdc:toolbar options="options"></npdc:toolbar>

<div ng-if="warning" class="np-environment-warning">!! Environment: Production !!</div>

<!-- Content wrapper -->
<md-content class="np-content-wrapper">
  <!-- Subheader bar -->
  <div class="np-sub-toolbar"></div>
  <div class="np-content-card">
    <md-toolbar class="np-content-title">
      <h3>{{options.cardTitle}}</h3>
    </md-toolbar>
    <main class="np-content md-whiteframe-12dp" layout="column">
      <npdc:crumbs></npdc:crumbs>
      <div class="np-content-view" layout="column" ng-view autoscroll="true"></div>
    </main>
  </div>
</md-content>

<npolar-message></npolar-message>

<npdc:footer></npdc:footer>
