<!DOCTYPE html>
<!-- field info -->
<script type="text/ng-template" id="ft-field-info.html">
  <md-icon>info_outline
    <md-tooltip md-direction="left">{{ field.description }}</md-tooltip>
  </md-icon>
</script>

<!-- validation message -->
<script type="text/ng-template" id="ft-validation-message.html">
  <div class="md-caption" role="alert" ng-show="{{ field.error !== null }}">
    {{ field.error }}
  </div>
</script>

<form name="formula" class="formula" ng-if="form.fieldsets">
  <header ng-if="form.title">
    {{ form.title }}
  </header>

  <md-tabs md-swipe-content md-dynamic-height md-border-bottom>
    <md-tab label="{{fieldset.title}}" ng-disabled="fieldset.disabled" ng-repeat="fieldset in form.fieldsets">
      <md-whiteframe class="md-whiteframe-z1">
        <fieldset>
          <div formula:field-definition ng-repeat="field in fieldset.fields" ng-show="field.visible">
            <!-- input field-->
            <div ng-if="field.typeOf('input')" apply-md-type="field">

              <!-- boolean -->
              <div ng-if="field.mdType === 'boolean'" class="np-formula-boolean">
                <div ng-include="'ft-field-info.html'" class="np-field-info" ng-if="field.description"></div>
                <md-checkbox ng-attr-id="field.uid" ng-model="field.value" aria-label="{{ field.title }}">
                  <label for="{{field.uid}}">{{ field.title }}</label>
                </md-checkbox>
                <div ng-include="'ft-validation-message.html'" class="np-validation-message"></div>
              </div>

              <!-- range -->
              <div ng-if="field.mdType === 'range'" class="np-formula-range">
                <label for="{{field.uid}}">{{ field.title }}: <span>{{field.value}}</span></label>
                <div ng-include="'ft-field-info.html'" class="np-field-info" ng-if="field.description"></div>
                <md-slider flex min="{{field.minimum}}" max="{{field.maximum}}" step="{{field.step}}" md-discrete ng-model="field.value" aria-label="{{field.title}}" ng-attr-id="field.uid">
                </md-slider>
                <div ng-include="'ft-validation-message.html'" class="np-validation-message"></div>
              </div>

              <!-- select -->
              <md-input-container ng-if="field.mdType === 'select'" class="np-formula-select">
                <label for="{{field.uid}}">{{ (field.required ? field.title + ' (required)' : field.title) }}</label>
                <div ng-include="'ft-field-info.html'" class="np-field-info" ng-if="field.description"></div>
				
				<!-- single-select -->
				<md-select ng-model="field.value" ng-if="!field.multiple">
                  <md-option ng-repeat="val in field.enum" value="{{val}}">{{val}}</md-option>
                </md-select>
				
				<!-- multi-select, ref: https://docs.angularjs.org/error/$compile/selmulti -->
                <md-select ng-model="field.value" multiple ng-if="field.multiple">
                  <md-option ng-repeat="val in field.enum" value="{{val}}">{{val}}</md-option>
                </md-select>
				
                <div ng-include="'ft-validation-message.html'" class="np-validation-message"></div>
              </md-input-container>

              <!-- input -->
              <md-input-container ng-if="field.mdType === 'input'" class="np-formula-input">
                <label for="{{field.uid}}">{{ (field.required ? field.title + ' (required)' : field.title) }}</label>
                <div ng-include="'ft-field-info.html'" class="np-field-info" ng-if="field.description"></div>
                <div formula:field="field"></div>
                <div ng-include="'ft-validation-message.html'" class="np-validation-message"></div>
              </md-input-container>
            </div>

            <!-- object -->
            <div ng-if="field.typeOf('object')" class="np-formula-object">
              <md-whiteframe class="md-whiteframe-z1">
                <fieldset formula:field="field">
                  <legend>{{ field.title }}</legend>

                  <div ng-repeat="field in field.fields" ng-show="field.visible">
                    <formula:field-instance field="field"></formula:field-instance>
                  </div>
                </fieldset>
              </md-whiteframe>
            </div>

            <!-- array -->
            <div ng-if="field.typeOf('array')" class="np-formula-array">
              <div formula:field="field">
                <md-whiteframe class="md-whiteframe-z1">
                  <fieldset ng-class="{ valid: field.valid, error: field.error }">
                    <div ng-include="'ft-field-info.html'" class="np-field-info" ng-if="field.description"></div>
                    <legend>{{ field.title }} ({{ field.values.length || 0 }})</legend>
					
					<!-- fieldset -->
                    <div ng-if="field.typeOf('fieldset')">
                      <ul>
                        <li ng-repeat="value in field.values">
                          <md-whiteframe class="md-whiteframe-z1">
                            <fieldset ng-class="{ valid: value.valid }">
                              <legend>
                                <span ng-if="!value.visible">{{ value.fields | formulaInlineValues }}</span>
                              </legend>
                              <div class="np-formula-object-ctrls">
                                <a class="toggle" href="" ng-click="field.itemToggle($index)" title="{{ value.visible ? form.i18n.minimize[1] : form.i18n.maximize[1] }}">
                                  <md-icon>{{ value.visible ? 'expand_less' : 'expand_more' }}</md-icon>
                                </a>
                                <a class="remove" href="" ng-click="field.itemRemove($index)" title="{{ form.i18n.remove[1] }}">
                                  <md-icon>close</md-icon>
                                </a>
                              </div>

                              <div class="np-formula-subarray" ng-repeat="subfield in field.fields" ng-show="value.visible">
                                <formula:field-instance field="value.fields[$index]" ng-show="subfield.visible"></formula:field-instance>
                              </div>
                            </fieldset>
                          </md-whiteframe>
                        </li>
                      </ul>
                      <div class="np-formula-array-add">
                        <md-button ng-click="field.itemAdd()" class="md-fab md-mini md-primary md-hue-1" aria-label="{{ form.i18n.add[1] }}">
                          <md-icon>add</md-icon>
                        </md-button>
                      </div>
                    </div>

					<!-- field -->
                    <div ng-if="field.typeOf('field')">
                      <ul class="np-formula-array">
                        <li ng-class="{ valid: value.valid, error: value.error }" ng-repeat="value in field.values" layout="row">
                          <formula:field-instance field="value" flex></formula:field-instance>
                          <a class="np-formula-input-ctrls remove" href="" ng-click="field.itemRemove($index)" title="{{ form.i18n.remove[1] }}">
                            <md-icon>close</md-icon>
                          </a>
                        </li>
                      </ul>
                      <div class="np-formula-array-add">
                        <md-button ng-click="field.itemAdd()" class="md-fab md-mini md-primary md-hue-1" aria-label="{{ form.i18n.add[1] }}">
                          <md-icon>add</md-icon>
                        </md-button>
                      </div>
                    </div>

                  </fieldset>
                </md-whiteframe>
              </div>
            </div>
          </div>
        </fieldset>
      </md-whiteframe>

    </md-tab>
  </md-tabs>

  <footer layout="row" layout-align="space-between center" ng-if="!(form.uiValidateHidden && form.uiSaveHidden)">
    <span ng-if="form.errors" title="{{ form.errors.join('\n') }}">{{ form.i18n.invalid | formulaReplace : { count: form.errors.length } }}</span>

    <div>
      <md-button class="md-raised" ng-click="form.validate()" ng-if="!form.uiValidateHidden" title="{{ form.i18n.validate[1] }}">
        <md-icon>check</md-icon> {{ form.i18n.validate[0] }}</md-button>
      <md-button class="md-raised md-primary" ng-click="form.save()" ng-disabled="!form.valid" ng-if="!form.uiSaveHidden" title="{{ form.i18n.save[1] }}">
        <md-icon>save</md-icon> {{ form.i18n.save[0] }}</md-button>

    </div>

  </footer>
</form>

<div class="formula" ng-if="!form.fieldsets">
  <div layout="row" layout-sm="column" layout-align="space-around">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>
</div>
