<!DOCTYPE html>
<div class="npdc-badges">
  <a ng-if="openAccess" ng-href="//en.wikipedia.org/wiki/Open_access">
    <img src="/assets/img/oa.png" height="31px" title="Open access">
  </a>

  <a ng-if="license" ng-href="{{ licenseHref }}">
    <img ng-src="/assets/img/{{ licenseImg }}.png" height="31px" title="{{ licenseTitle }}">
  </a>

  <a ng-if="doi" ng-href="//doi.org/{{ doi }}">
    <img src="/assets/img/doi.png" height="31px" title="Digital Object Identifier">
  </a>
  <a ng-if="doi" ng-href="//doi.org/{{ doi }}" style="padding-bottom: 0.5em;">{{ doi }}</a>
</div>
