.np-sidenav {
  height: 100%;

  md-sidenav {
    height: 100%;
  }

  .np-sidenav-img {
    background-color: $color-primary-0;
    padding: 15px 0;
    z-index: 10;

    img {
      display: block;
      margin: 0 auto;
      width: 150px;
    }
  }

  h1 {
    color: $color-text-light;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
  }

  .np-sidenav-title {
    background-color: material-color('deep-orange', '400');
    color: $color-text-light;
    padding-left: 15px;
    z-index: 9;
  }

  .np-sidenav-menu {
    padding: 0;

    a {
      margin: 0;
      padding-left: 10%;
      text-align: left;
    }
  }
}
