<!DOCTYPE html>
<md-content>

  <section class="npdc-search">

    <div ng-if="filters.length">
      <md-chips ng-model="filters" placeholder="Search filters" readonly="false">

        <md-chip-template>
          <strong>{{$chip}}</strong>
        </md-chip-template>

<!-- @todo Bind removing chip to removing search filter and reload  -->
        <md-icon class="md-chip-remove md-primary">close
        </md-icon>

      </md-chips>
    </div>

    <npdc:create-button></npdc:create-button>
    <div ng-if="!feed.entries">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>

    <div layout-sm="column" layout="row">
<!-- search results (feed entries) -->
      <div flex>
        <div ng-repeat="e in feed.entries | filter:entryfilter">
          <md-content class="np-layout-list">
            <md-list>
              <md-list-item class="md-2-line">
                <div class="md-list-item-text">
                  <h3 class="md-headline">
                    <a ng-href="{{ entryHref(e.id) }}">{{ e.title || e.name || e.code || e.id }}</a>
                  </h3>
                  <h4>{{ e.updated.split("T")[0] }}</h4>
                </div>
              </md-list-item>
            </md-list>
          </md-content>
        </div>
      </div>

<!-- facets -->
          <div flex>

            <div ng-repeat="farr in feed.facets">
              <h4>{{ facetKey(farr) }}</h4>
              <md-list-item class="md-3-line">

                <div class="md-list-item-text">
                  <span ng-repeat="f in facet(farr)">
                    <a ng-href="{{ facetHref(f.uri) }}">{{ f.term}}</a>
                    ({{ f.count }})
                  </span>
                </div>

              </md-list-item>
              <md-divider ></md-divider>
            </div>

          </div>
        </div>

        <md-subheader class="md-primary">
          <span ng-if="feed.opensearch.totalResults > 0">{{feed.opensearch.totalResults}}
            results, displaying
            {{ feed.entries.length}}</span>
          <span ng-if="feed.opensearch.totalResults == 0">No results when searching for "{{q}}"</span>
        </md-subheader>

      </section>

    </md-content>
