.np-document-meta {
  margin: -5px 10px 10px -5px;

  .document-meta {
    margin-right: 15px;

    h4 {
      display: inline;
    }

    span {
      color: $color-text-grey;
      font-size: smaller;
      line-height: 24px;
      vertical-align: middle;
    }

    code {
      background-color: $color-np-warning;
      line-height: 24px;
      padding: 2px;
      vertical-align: middle;
    }
  }
}
