<!DOCTYPE html>
<div layout="row" layout-align="start start" class="np-document-meta">
  <div class="document-meta">
    <h4><md-icon>access_time</md-icon><span> {{'Created' | t}}: </span></h4><span>{{document.created.substr(0,10)}}</span>
  </div>
  <div class="document-meta">
    <h4><md-icon>sync</md-icon><span> {{'Updated' | t}}: </span></h4><span>{{document.updated.substr(0,10)}}</span>
  </div>
  <div class="document-meta" ng-if="document.draft === 'yes'">
    <code>DRAFT</code>
  </div>
</div>
