<!DOCTYPE html>
<div layout="row" layout-align="start start" class="np-document-meta">
  <div class="document-meta">
    <h4><md-icon>access_time</md-icon><span> Created: </span></h4><span>{{document.created | date:'mediumDate'}}</span>
  </div>
  <div class="document-meta">
    <h4><md-icon>sync</md-icon><span> Updated: </span></h4><span>{{document.created | date:'mediumDate'}}</span>
  </div>
  <div class="document-meta" ng-if="document.draft === 'yes'">
    <code>DRAFT</code>
  </div>
</div>
