<!DOCTYPE html>
<div ng-keyup="keyup($event);">
    <md-autocomplete
      md-item-text="title(item)"
      md-items="item in querySearch(options.q)"
      md-min-length="1"
      md-no-cache="true"
      md-search-text="options.q"
      md-selected-item-change="selectedItemChange(item)"
      md-selected-item="selectedItem"
      md-floating-label="{{options.placeholder}}">

      <md-item-template>
        <span md-highlight-flags="^i" md-highlight-text="options.q" ng-if="item">[{{item.collection}}]
          {{ item.name || item.title || item.code || item.titles[0].title || item.id }}</span>
      </md-item-template>

    </md-autocomplete>

    <div ng-if="options.showCollections && !expandSearch">
      <br/>
      <md-checkbox ng-model="options.collections[collection]" ng-repeat="(collection, value) in options.collections">{{ collection }}</md-checkbox>
    </div>
</div>
