<!DOCTYPE html>
<div>
  <form ng-submit="submit($event);">
    <md-autocomplete
      md-item-text="title(item)"
      md-items="item in querySearch(query.q)"
      md-min-length="1"
      md-no-cache="true"
      md-search-text="query.q"
      md-selected-item-change="selectedItemChange(item)"
      md-selected-item="selectedItem"
      md-floating-label="{{config.placeholder}}">

      <md-item-template>
        <span md-highlight-flags="^i" md-highlight-text="query.q" ng-if="item">[{{item.collection}}]
          {{ item.name || item.title || item.code || item.titles[0].title || item.id }}</span>
      </md-item-template>

    </md-autocomplete>

    <div ng-if="config.showCollections && !expandSearch">
      <br/>
      <md-checkbox ng-change="querySearch(query.q)" ng-model="collectionSelected[collection]" ng-repeat="collection in collections">{{ collection }}</md-checkbox>
    </div>

  </form>
</div>
