<!DOCTYPE html>
<html ng-app="home">

<head>
  <title>NPDC Home layout</title>
  <link href="/npdc-ui.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="initial-scale=1" />
</head>
<body ng-controller="HomeCtrl as ctrl">
  <md-toolbar class="np-top-menu">
    <div class="md-toolbar-tools">
      <a class="np-top-menu-brand" href="#">
        <img alt="Norwegian Polar Insitute" src="/img/NPI-logo-hvit-eng.png">
        <span hide-md hide-sm class="md-title">Norwegian Polar Data Centre</span>
      </a>
      <span flex></span>
      <md-menu>
        <md-button aria-label="Open data menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
          <md-icon md-menu-origin>cloud</md-icon>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item>
            <md-button ng-click="">Datasets</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="">Marine biology</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="">People</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="">Projects</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="">Publications</md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      <md-button aria-label="Goto map services" class="md-icon-button">
        <md-icon>map</md-icon>
      </md-button>
      <md-button aria-label="Open search" class="md-icon-button">
        <md-icon>search</md-icon>
      </md-button>
      <md-button aria-label="Open login" class="md-icon-button">
        <md-icon>person</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-content layout="row" class="md-padding np-layout-home">
    <div flex></div>
    <md-card flex="75">
      <md-card-content>
        <div class="np-center-box">
          <h1 class="md-headline">Portal for scientific data at the Norwegian Polar Institute</h1>
          <p>Search, browse, download and vizualize scientific data about the polar regions. We gather data about climate, marine biology, wildlife, ice, expeditions, ships, cruises and much more. Everything polar.</p>
        </div>
        <md-grid-list md-cols-sm="1" md-cols-md="2" md-cols-gt-md="3" md-row-height-gt-md="1:1" md-row-height="4:3" md-gutter="8px" md-gutter-gt-sm="4px">
          <md-grid-tile md-colspan-gt-sm="1" md-rowspan-gt-sm="1">
            <div>20 000</div>
            <md-grid-tile-footer><h3>Datsets</h3></md-grid-tile-footer>
          </md-grid-tile>
          <md-grid-tile md-colspan-gt-sm="1" md-rowspan-gt-sm="1">
            <div>8 000 000</div>
            <md-grid-tile-footer><h3>Oceanographic data points</h3></md-grid-tile-footer>
          </md-grid-tile>
          <md-grid-tile md-colspan-gt-sm="1" md-rowspan-gt-sm="1">
            <div>400 000</div>
            <md-grid-tile-footer><h3>Marine biology samples</h3></md-grid-tile-footer>
          </md-grid-tile>
          <md-grid-tile md-colspan-gt-sm="1" md-rowspan-gt-sm="1">
            <div>20 000</div>
            <md-grid-tile-footer><h3>Datsets</h3></md-grid-tile-footer>
          </md-grid-tile>
          <md-grid-tile md-colspan-gt-sm="1" md-rowspan-gt-sm="1">
            <div>8 000 000</div>
            <md-grid-tile-footer><h3>Oceanographic data points</h3></md-grid-tile-footer>
          </md-grid-tile>
          <md-grid-tile md-colspan-gt-sm="1" md-rowspan-gt-sm="1">
            <div>400 000</div>
            <md-grid-tile-footer><h3>Marine biology samples</h3></md-grid-tile-footer>
          </md-grid-tile>
        </md-grid-list>
      </md-card-content>
    </md-card>
    <div flex></div>
  </md-content>
  <script src="/demos.js"></script>
</body>

</html>
