/** http://paletton.com/#uid=63o0f0kq-flghpJlxkyv-aqHL5V **/

// Primary colors
$color-1-bg: #0F3F4C;
$color-1-fg: #417280;
$color-1-ex: #01171D;

// Secondary colors
$color-2-bg: #0E503E;
$color-2-fg: #428673;
$color-2-ex: #001F16;

// Tertiary colors
$color-3-bg: #132F50;
$color-3-fg: #486486;
$color-3-ex: #020F1F;

// Quaternary colors
$color-4-bg: #7A4815;
$color-4-fg: #CD9965;
$color-4-ex: #2F1800;

// Page section map
$section-map:
(
	("datasets",	$color-2-bg, $color-2-fg, $color-2-ex),
	("expeditions",	$color-3-bg, $color-3-fg, $color-3-ex),
	("documents",	$color-4-bg, $color-4-fg, $color-4-ex)
);

// Animation speeds
$anim-speed: .4s;


//** END OF PAGE CONFIGURATIONS **\\

[ng-app="npdcHome"]
{
	body
	{
		overflow:					auto;
	}
}

.npdc-home
{
	background-attachment:			fixed;
	background-color:				white;
	background-image:
		repeating-linear-gradient( 30deg, rgba(15,  63,  76, .4) 10%, rgba(65, 114, 128, .2) 30%, rgba(36,  87, 102, .2) 60%),
		repeating-linear-gradient(170deg, rgba(65, 114, 128, .2) 20%, rgba(15,  63,  76, .2) 40%, rgba( 2,  41,  52, .4) 80%),
		repeating-linear-gradient(250deg, rgba(15,  63,  76, .2) 10%, rgba(36,  87, 102, .2) 40%, rgba( 1,  23,  29, .4) 90%);
	height:							auto;

	md-toolbar
	{
		background-color:			$color-1-bg;
	}

	header
	{
		background-color:			$color-1-bg;
		padding-top:				64px;
		position:					relative;

		.quicknav
		{
			text-align:				center;
			padding:				15px;

			a
			{
				color:				$color-1-fg;
				display:			inline-block;
				font-size:			15px;
				margin:				0 15px;
				text-decoration:	none;
				text-shadow: 		1px 1px 2px $color-1-ex;
				transition:			all $anim-speed;

				md-icon
				{
					color:			white;
					text-shadow:	0 0 10px $color-1-ex;
				}

				.text
				{
					display:		none;
				}

				&:hover
				{
					transform:		scale(1.2);
				}
			}
		}

		.pagenav
		{
			display:				none;
		}
	}

	section
	{
		padding:					2em;
		position:					relative;
		margin:						0;

		h2
		{
			color:					$color-1-bg;
			font-size:				2em;
			margin:					0;
			opacity: 				.4;
			padding:				0;
			text-align:				left;
		}

		& > md-icon
		{
			bottom:					15px;
			color:					$color-1-bg;
			font-size:				80px;
			opacity: 				.1;
			position:				absolute;
			right:					15px;
			text-shadow: 			-1px -1px 0 $color-1-ex, 1px 1px 0 $color-1-fg;
		}

		p
		{
			margin:					2em 0 0;
			padding:				0;
			text-align:				justify;
		}

		a
		{
			text-decoration:		none;
		}

		md-list
		{
			margin:					2em 0 0;
		}

		md-grid-list
		{
			margin:					2em 0 0;

			md-grid-tile
			{
				transition:			all $anim-speed;
				transform:			scale(0.9);

				&:hover
				{
					box-shadow:		0 0 15px 0 black;
					transform:		scale(1.0);

					md-icon
					{
						transform:	rotateY(360deg);
					}
				}

				img
				{
					height:			100%;
					left:			0;
					object-fit:		cover;
					position:		absolute;
					top:			0;
					width:			100%;
				}

				md-icon
				{
					font-size:		3em;
					transition:		all $anim-speed;
				}
			}
		}
	}

	#splash
	{
		box-sizing:					border-box;
		height:						20vh;

		ul
		{
			left:					0;
			list-style:				none;
			margin:					0;
			padding:				0;
			position:				absolute;
			text-align:				center;
			top:					50%;
			transform:				translateY(-50%);
			width:					100%;

			li
			{
				display:			inline-block;
				font-size:			20px;
				margin:				5px 15px;

				span
				{
					font-weight:	bold;
				}
			}
		}

		p
		{
			color:					$color-1-bg;
			font-size:				2em;
			margin:					0;
			padding:				0;
			position:				relative;
			text-align:				center;
			text-shadow:			1px 1px 0 $color-1-ex;
			top:					50%;
			transform:				translateY(-50%);
		}
	}

	// Customize defined sections
	@each $id, $bg, $fg, $ex in $section-map
	{
		section[id="#{$id}"]
		{
			background-color:		$bg;
			color:					$fg;

			h2
			{
				color:				$ex;
				text-shadow:		-1px -1px 0 $bg, 1px 1px 0 $fg;
			}

			a
			{
				color:				$ex;

				&:hover
				{
					text-decoration:	underline;
				}
			}

			md-list-item
			{
				background-color:	$ex;
				color:				$fg;
				margin:				1px 0;
				//opacity:			.4;
				transform:			scale(0.92);
				transition:			all $anim-speed;

				&:hover
				{
					box-shadow:		2px 2px 2px 0 rgba(0, 0, 0, .4);
					transform:		scale(0.95);
				}

				h3, h4
				{
					color:			inherit;
				}
			}

			md-grid-tile
			{
				background-color:	$ex;

				md-grid-tile-footer,
				md-icon
				{
					color:			white;
					text-shadow:	0 0 1px black;
				}
			}
		}
	}

	footer
	{
		background-color:			$color-1-bg;
		color:						$color-1-fg;
		padding:					32px;

		h3
		{
			margin:					0 0 32px 0;
			text-shadow:			0 0 5px $color-1-ex;
		}

		ol
		{
			font-size:				16px;
			list-style:				none;
			margin:					0;
			padding:				0;
			text-align:				left;

			a
			{
				color:				$color-1-fg;
				text-decoration:	none;

				&:hover
				{
				}
			}
		}

		#scroll-up
		{
			background:				rgba(0, 0, 0, 0.1);
			bottom:					1em;
			border-radius:			50%;
			padding:				.5em;
			position:				fixed;
			right:					1em;
			transform:				scale(0.0);
			transition:				all $anim-speed;

			&:hover
			{
				background:			rgba(0, 0, 0, 0.2);
			}
		}
	}

	@media (min-width: 700px)
	{
		header
		{
			height:						80vh;
			padding:					0;

			.quicknav
			{
				font-size:				0;
				position:				relative;
				top:					50%;
				transform:				translateY(-50%);

				a
				{
					margin:				3vh 0;
					padding:			2vh 5vw;
					position:			relative;

					md-icon
					{
						display:		block;
						font-size:		4em;
						height:			1em;
						width:			1em;
						transition:		all $anim-speed;
					}

					span.label
					{
						font-size:		2em;
					}

					span.text
					{
						color:			$color-2-ex;
						display:		block;
						font-size:		1em;
						text-shadow:	none;
					}

					&:hover
					{
						color:			$color-2-ex;
						text-shadow: 	0 0 10px $color-2-fg;
						transform:		none;

						md-icon
						{
							transform:	scale(1.2);
						}
					}

					&:not(:last-of-type)
					{
						border-right:	1px solid $color-1-ex;
					}

					&:not(:first-of-type)
					{
						border-left:	1px solid $color-1-fg;
					}
				}
			}

			.pagenav
			{

				bottom:					0;
				display:				block;
				height:					0;
				position:				absolute;
				text-align:				center;
				width:					100%;
				z-index:				1;

				a
				{
					background-color:	$color-1-ex;
					border-radius:		50% 50% 0 0;
					color:				$color-1-fg;
					display:			inline-block;
					font-size:			1.5em;
					margin:				0 5px;
					padding:			.5em .5em .2em;
					position:			relative;
					transition:			$anim-speed;
					top:				-1.5em;

					md-icon
					{
						color:			inherit;

					}

					&:hover
					{
						box-shadow:		0 0 15px 0 rgba(0, 0, 0, 0.5);
						transform:		translateY(10px);
					}

					&:after
					{
						border-left:	1em solid transparent;
						border-right:	1em solid transparent;
						border-top:		1em solid $color-1-ex;
						bottom:			-1em;
						content:		'';
						left:			0;
						position:		absolute;
					}
				}

				&.docked
				{
					bottom:				auto;
					position:			fixed;
					top:				64px;

					a
					{
						opacity:		0.6;

						&:hover
						{
							opacity:	1.0;
						}
					}
				}
			}

			// Customize defined sections
			@each $id, $bg, $fg, $ex in $section-map
			{
				a[href="##{$id}"]
				{
					background-color:	$bg;
					color:				$fg;

					&:after
					{
						border-top: 	1em solid $bg;
					}
				}
			}
		}

		section
		{
			h2
			{
				font-size:				3em;
				text-align:				center;
			}
		}

		footer
		{
			//margin-top:					20vh;
		}
	}
}
