.np-faceting {
  ul {
    list-style-type: none;
    padding: 0;
  }

  .np-faceting-search {
    margin: 15px;

    md-input-container {
      padding-bottom: 2px;
    }
  }

  .np-faceting-top {
    position: relative;
  }

  .np-faceting-advanced {
    bottom: 0;
    padding: 5px;
    position: absolute;
    right: 0;
  }

  .md-chips .md-chip {
    background: rgb(224, 224, 224);
    color: rgb(66, 66, 66);

    .md-chip-remove md-icon {
      font-size: 18px;
    }

    &.md-focused,
    &.md-focused .md-chip-remove md-icon {
      background: rgb(16, 108, 200);
      color: rgba(255, 255, 255, .87);
    }
  }

  .np-faceting-facets {
    max-height: 0;
    overflow: hidden;

    transition: max-height .8s;

    &.show {
      max-height: 100vh;
    }
  }

  .np-custom-facet {
    box-sizing: border-box;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 26px;
  }

  label,
  .rz-bubble {
    color: rgba(0, 0, 0, .54);
  }

  .np-range-facet {
    rzslider {
      margin: 40px 0 15px;
    }
  }

  .np-faceting-active-filters {
    min-height: 48px;
  }
}
