<!DOCTYPE html>
<html ng-app="faceting">
  <head>
    <title>NPDC loaders component</title>
    <link href="/assets/npdc-common-master-latest.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="initial-scale=1" />
  </head>
  <body ng-controller="FacetingDemoCtrl">
    <md-input-container flex>
      <label>Search</label>
      <input ng-model="q">
    </md-input-container>
    Filter count: {{filterCount}}
    <div layout>
      <npdc:faceting ng-if="feed" data="feed.facets" options="facetOptions" flex="50"></npdc:faceting>
      <npdc:faceting ng-if="feed" data="feed.facets" options="facetOptions" flex="50"></npdc:faceting>
    </div>

    <ul>
      <li ng-repeat="item in feed.entries">{{ item.title }}</li>
    </ul>
    <script src="/demo/demos.js"></script>
  </body>
</html>
