<!DOCTYPE html>
<h1 class="np-heading md-display-1">{{ 'Editing' | t }} <a ng-href="{{ id === '__new' ? resource.uiBase : href(id) }}">{{ title }}</a>
  <a ng-if="help && help.uri" ng-href="{{ help.uri }}" target="_blank">
    <md-button class="md-icon-button">
    <md-icon md-menu-origin>help</md-icon>
    <md-tooltip>{{ 'help-with-editing' | t }}</md-tooltip>
  </md-button></a>
</h1>

<npdc:bottom-sheet options="bottomSheetOptions" ng-show="document._rev"></npdc:bottom-sheet>
<div ng-class="{ 'np-bottom-sheet-static': bottomSheetOptions.alwaysShow }">
  <formula options="formula._cfg"></formula>
  <npdc:loader ng-if="!formula._cfg.form.ready"></npdc:loader>
</div>
<npdc:save-button class="np-primary-control" ng-show="formula._cfg.form.ready"></npdc:save-button>