.formula {
  a {
    display: inline-block;
    height: 1em;
    text-decoration: none;
  }

  legend {
    display: block;
    line-height: 24px;
    padding: 0;
    position: relative;
    width: 100%;
  }

  fieldset {
    border: 0;
    margin: 0;
    min-width: 0;
    padding: .5em;
    position: relative;
  }

  // Firefox needs this...
  input[type="number"] {
    width: 100%;
  }

  body:not(:-moz-handler-blocked) fieldset {
    display: table-cell;
  }

  md-tabs {
    height: 100%;
  }

  // Fix narrow tab issue
  md-tab-item {
    max-width: none !important;
  }

  md-slider {
    padding-left: 15px;
    padding-right: 15px;
  }

  md-whiteframe {
    display: block;
    margin: .5em 0;
    padding: 1em;
  }

  .np-formula-array {
    ul {
      list-style-type: none;
      padding: 0;
      position: relative;

      li {
        position: relative;
      }

      legend span {
        display: inline-block;
        max-width: 80%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  .np-formula-subarray {
    margin-top: 28px;

    md-whiteframe:first-child {
      box-shadow: none;
    }
  }

  .np-formula-object-ctrls {
    position: absolute;
    right: -26px;
    top: -17px;
    z-index: 15;
  }

  .np-formula-input-ctrls {
    position: absolute;
    right: -18px;
    top: -16px;
    z-index: 15;
  }

  .np-validation-message {
    @include order(99);
    margin-top: 8px;

    .md-caption {
      color: $color-secondary-2;
    }
  }

  .np-formula-array-add {
    float: right;
  }

  .np-field-info {
    cursor: help;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 15;

    md-icon {
      color: rgba(0, 0, 0, .26);
    }
  }

  .np-field-info + md-select,
  .np-field-info + input[type="number"],
  .np-field-info + input[type="text"],
  .np-field-info + md-slider,
  .np-field-info + md-checkbox {
    width: calc(100% - 33px);
  }

  .np-formula-range,
  .np-formula-boolean {
    position: relative;

    label {
      color: rgba(0, 0, 0, .54);

      span {
        color: $color-text-dark;
      }
    }
  }

  .np-formula-input,
  .np-formula-select,
  .np-formula-range {
    .np-field-info {
      bottom: 37px;
      top: initial;
    }
  }

  .multi-ctrls {
    .np-field-info {
      right: 40px;
    }

    md-select,
    input[type="number"],
    input[type="text"],
    md-slider,
    md-checkbox {
      width: calc(100% - 33px);
    }

    .np-field-info + md-select,
    .np-field-info + input[type="number"],
    .np-field-info + input[type="text"],
    .np-field-info + md-slider,
    .np-field-info + md-checkbox {
      width: calc(100% - 73px);
    }
  }
}


.filefunnel {
  background-color: $color-bg-light;
  box-shadow: $bar-shadow;
  max-width: 600px;
  width: 90vw;

  h2 {
    margin-top: 0;
  }

  fieldset {
    border: 0;
  }

  legend {
    display: none;
  }

  input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    margin: 5px;
  }

  .info {
    display: block;
    margin-top: 5px;
  }

  .error {
    color: $color-np-error;
  }

  .success {
    color: $color-np-success;
  }

  .size,
  .type {
    text-overflow: ellipsis;
    width: 90px;
  }

  md-progress-linear {
    margin-top: 5px;
  }
}
