.formula {

  a {
    text-decoration: none;
  }


  legend {
    display: block;
    line-height: 24px;
    padding: 0;
    position: relative;
    width: 100%;


    .np-field-info {
      position: absolute;
      right: 0;
      top: 0;
    }
  }


  fieldset {
    border: 0;
    margin: 0;
    min-width: 0;
    padding: 3px;
    position: relative;
  }

  // Firefox needs this...
  input {
    [type='number'] {
      width: 100%;
    }
  }


  body {
    :not(:-moz-handler-blocked) {
      fieldset {
        display: table-cell;
      }
    }
  }


  md-tabs {
    height: 100%;
  }

  // Fix narrow tab issue
  md-tab-item {
    max-width: none !important;

    .error {
      color: $color-np-error;
    }
  }

  md-tab-content {
    min-height: 500px;
  }


  md-slider {
    padding-left: 15px;
    padding-right: 15px;
  }


  md-whiteframe {
    display: block;
    margin: .5em 0;
    padding: 1em;
  }


  md-input-container {
    width: 100%;

    label {
      color: rgba(0, 0, 0, 0.5);
      font-size: 1.1em;
    }
  }


  md-autocomplete[md-floating-label] {
    height: 78px;
    overflow: visible;
  }


  .md-errors-spacer {
    // we don't use material errors
    display: none;
  }


  .formulaArray {
    .np-formula-list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      position: relative;


      .np-formula-list-item {
        position: relative;

        .np-formula-collapsed-item {
          bottom: 0;
          left: 0;
          position: absolute;
          right: 0;
          top: 0;
          z-index: 3;
        }
      }

      legend {
        span {
          display: inline-block;
          max-width: 80%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }


  .formulaObject {
    .leaflet-map {
      margin-top: 20px;
    }

    // Hide object array frames
    :not(.formulaCustomObject) {
      .formulaArray > fieldset > md-whiteframe {
        box-shadow: none;
        margin: 0;
        padding: 0;


        > legend > .np-field-info {
          right: 65px;
          top: -15px;
        }
      }
    }
  }

  // Hide array objects frames and titles
  .np-formula-array-fieldset {
    > fieldset > md-whiteframe {
      box-shadow: none;
      margin: 0;
      padding: 0;


      > legend {
        display: none;
      }
    }
  }




  .np-formula-object-ctrls {
    position: absolute;
    right: -26px;
    top: -17px;
    z-index: 15;

    > a {
      margin: 0 8px;
    }


    .np-field-info {
      display: inline-block;
      margin-right: 15px;
      position: static;
    }
  }


  .np-formula-input-ctrls {
    position: absolute;
    right: -14px;
    top: 2px;
    z-index: 15;

    > a {
      margin: 0 8px;
    }
  }


  .np-validation-message {
    @include order(99);
    clear: left;
    padding-top: 8px;
    position: relative;


    .md-caption {
      color: $color-secondary-2;
    }
  }


  .np-formula-array-add {
    float: right;
  }


  .np-field-info {
    cursor: help;
    height: 24px;
    position: relative;
    top: 20px;
    width: 24px;
    z-index: 15;


    md-icon {
      color: rgba(0, 0, 0, .26);
    }
  }

  .np-formula-range,
  .np-formula-boolean {
    position: relative;


    label {
      color: rgba(0, 0, 0, .54);

      span {
        color: $color-text-dark;
      }
    }


    md-checkbox {
      margin-top: 20px;
    }
  }


  .multi-ctrls {
    position: relative;


    .np-formula-field {
      width: calc(100% - 30px);
    }
  }
}


.np-formula-field {
  position: relative;
}


md-select-menu {
  md-option[selected] {
    color: rgb(3, 155, 229) !important;
  }
}


.filefunnel {
  background-color: $color-bg-light;
  box-shadow: $bar-shadow;
  max-width: 600px;
  width: 90vw;


  h2 {
    margin-top: 0;
  }


  fieldset {
    border: 0;
  }


  legend {
    display: none;
  }


  input {
    [type='button'],
    [type='reset'],
    [type='submit'] {
      margin: 5px;
    }
  }

  .info {
    display: block;
    margin-top: 5px;
  }

  .error {
    color: $color-np-error;
  }

  .success {
    color: $color-np-success;
  }

  .size,
  .type {
    text-overflow: ellipsis;
    width: 90px;
  }

  md-progress-linear {
    margin-top: 5px;
  }
}
