<!DOCTYPE html>
<html ng-app="formulaDemo" ng-strict-di>

<head>
  <title>NPDC Formula layout</title>
  <link href="/assets/npdc-common.css" rel="stylesheet">
  <meta name="viewport" content="initial-scale=1" />
  <style>
    .np-primary-control {
      display: none;
    }
  </style>
</head>

<body class="np-content-wrapper">
  <md-content layout="column" layout-padding ng-controller="FormulaCtrl" class="np-content">
    <npdc:formula></npdc:formula>
    <md-button class="md-raised md-primary" ng-click="formula.save();">Save</md-button>
    <md-button class="md-raised md-primary" ng-click="demo2();">Demo2</md-button>
    <npolar-message></npolar-message>
  </md-content>
  <script src="/demo/demos.js"></script>
</body>

</html>
