<!DOCTYPE html>
<!-- field info -->
<script type="text/ng-template" id="ft-field-info.html">
  <md-icon>info_outline
    <md-tooltip md-direction="left">{{ field.description }}</md-tooltip>
  </md-icon>
</script>

<!-- validation message -->
<script type="text/ng-template" id="ft-validation-message.html">
  <div class="md-caption" role="alert" ng-show="{{ field.error !== null }}">
    {{ field.error }}
  </div>
</script>

<form name="formula" class="formula" ng-if="form.fieldsets">
  <header ng-if="form.title">
    {{ form.title }}
  </header>

  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="{{fieldset.title}}" ng-disabled="fieldset.disabled" ng-repeat="fieldset in form.fieldsets">
      <fieldset>
        <div formula:field-definition ng-repeat="field in fieldset.fields">
          <div init-md-field="field" ng-show="field.visible">
            <!-- input field-->
            <div ng-if="field.typeOf('input')">

              <!-- boolean -->
              <div ng-if="field.mdType === 'boolean'" class="np-formula-boolean">
                <div ng-include="'ft-field-info.html'" class="np-field-info" ng-if="field.description"></div>
                <md-checkbox ng-attr-id="field.uid" ng-model="field.value" aria-label="{{ field.title }}">
                  <label for="{{field.uid}}">{{ field.title }}</label>
                </md-checkbox>
                <div ng-include="'ft-validation-message.html'" class="np-validation-message"></div>
              </div>

              <!-- range -->
              <div ng-if="field.mdType === 'range'" class="np-formula-range">
                <label for="{{field.uid}}">{{ field.title }}:
                  <span>{{field.value}}</span>
                </label>
                <div ng-include="'ft-field-info.html'" class="np-field-info" ng-if="field.description"></div>
                <md-slider flex min="{{field.minimum}}" max="{{field.maximum}}" step="{{field.step}}" md-discrete ng-model="field.value" aria-label="{{field.title}}" ng-attr-id="field.uid">
                </md-slider>
                <div ng-include="'ft-validation-message.html'" class="np-validation-message"></div>
              </div>

              <!-- select -->
              <md-input-container ng-if="field.mdType === 'select'" class="np-formula-select">
                <label for="{{field.uid}}">{{ (field.required ? field.title + ' (required)' : field.title) }}</label>
                <div ng-include="'ft-field-info.html'" class="np-field-info" ng-if="field.description"></div>

                <!-- single-select -->
                <md-select ng-model="field.value" ng-if="!field.multiple">
                  <md-option ng-repeat="val in field.values" value="{{val.id}}">{{val.label}}</md-option>
                </md-select>

                <!-- multi-select, ref: https://docs.angularjs.org/error/$compile/selmulti -->
                <md-select ng-model="field.value" multiple ng-if="field.multiple">
                  <md-option ng-repeat="val in field.values" value="{{val.id}}">{{val.label}}</md-option>
                </md-select>

                <div ng-include="'ft-validation-message.html'" class="np-validation-message"></div>
              </md-input-container>

              <!-- input -->
              <md-input-container ng-if="field.mdType === 'input'" class="np-formula-input">
                <label for="{{field.uid}}">{{ (field.required ? field.title + ' (required)' : field.title ) }}</label>
                <div ng-include="'ft-field-info.html'" class="np-field-info" ng-if="field.description"></div>
                <div formula:field="field" ng-attr-readonly="{{field.readonly}}"></div>
                <div ng-include="'ft-validation-message.html'" class="np-validation-message"></div>
              </md-input-container>

              <!-- file -->
              <md-input-container ng-if="field.mdType === 'file'" class="np-formula-file">
                <label for="{{field.uid}}">{{ (field.required ? field.title + ' (required)' : field.title ) }}</label>
                <div ng-include="'ft-field-info.html'" class="np-field-info" ng-if="field.description"></div>
                <input type="text" ng-model="field.value" filefunnel ng-readonly="true">
                <div ng-include="'ft-validation-message.html'" class="np-validation-message"></div>
              </md-input-container>

              <!-- date -->
              <md-input-container ng-if="field.mdType === 'date'" class="np-formula-date">
                <label for="{{field.uid}}">{{ (field.required ? field.title + ' (required)' : field.title ) }}</label>
                <div ng-include="'ft-field-info.html'" class="np-field-info" ng-if="field.description"></div>
                <input type="text" ng-model="field.value" chronopic>
                <div ng-include="'ft-validation-message.html'" class="np-validation-message"></div>
              </md-input-container>

              <!-- autocomplete -->
              <md-autocomplete ng-if="field.mdType === 'autocomplete'"
                md-items="item in field.querySearch(field.value)"
                md-min-length="0"
                md-search-text="field.value"
                md-floating-label="{{field.title}}">

                <md-item-template>
                  <span md-highlight-flags="^i" md-highlight-text="field.value" ng-if="item">{{item}}</span>
                </md-item-template>

              </md-autocomplete>
            </div>

            <!-- object -->
            <div ng-if="field.typeOf('object')" class="np-formula-object">

              <!-- file object -->
              <md-whiteframe class="md-whiteframe-z2 np-formula-fileobject" ng-if="field.mdType === 'file'" filefunnel>
                <fieldset formula:field="field">
                  <legend>{{ field.title }}</legend>

                  <div ng-repeat="field in field.fields" ng-show="field.visible">
                    <formula:field-instance field="field"></formula:field-instance>
                  </div>
                </fieldset>
              </md-whiteframe>

              <!-- plain object -->
              <md-whiteframe class="md-whiteframe-z2" ng-if="field.mdType === 'object'">
                <fieldset formula:field="field">
                  <legend>{{ field.title }}</legend>

                  <div ng-repeat="field in field.fields" ng-show="field.visible">
                    <formula:field-instance field="field"></formula:field-instance>
                  </div>
                </fieldset>
              </md-whiteframe>
            </div>

            <!-- array -->
            <div ng-if="field.typeOf('array')" class="np-formula-array">
              <div formula:field="field">
                <md-whiteframe class="md-whiteframe-z2">
                  <fieldset ng-class="{ valid: field.valid, error: field.error }">

                    <legend>{{ field.title }} ({{ field.values.length || 0 }})
                      <div ng-include="'ft-field-info.html'" class="np-field-info" ng-if="field.description"></div>
                    </legend>

                    <!-- fieldset -->
                    <div ng-if="field.typeOf('fieldset')">
                      <ul>
                        <li ng-repeat="value in field.values">
                          <md-whiteframe class="md-whiteframe-z2">
                            <fieldset ng-class="{ valid: value.valid }">
                              <legend>
                                <span ng-if="!value.visible">{{ value.fields | formulaInlineValues }}</span>
                                <div class="np-formula-object-ctrls">
                                  <a class="toggle" href="" ng-click="field.itemToggle($index)" title="{{ value.visible ? form.i18n.minimize[1] : form.i18n.maximize[1] }}">
                                    <md-icon>{{ value.visible ? 'expand_less' : 'expand_more' }}</md-icon>
                                  </a>
                                  <md-menu>
                                    <md-button aria-label="Remove" class="md-icon-button remove" ng-click="$mdOpenMenu($event)">
                                      <md-icon md-menu-origin>close</md-icon>
                                    </md-button>
                                    <md-menu-content>
                                      <md-menu-item>
                                        <md-button ng-click="field.itemRemove($index)" title="{{ form.i18n.remove[1] }}" class="md-warn">
                                          <md-icon md-menu-align-target>delete</md-icon> Remove item
                                        </md-button>
                                      </md-menu-item>
                                    </md-menu-content>
                                  </md-menu>
                                </div>
                              </legend>
                              <formula:field-instance field="value" ng-show="value.visible" class="np-formula-subarray" />
                            </fieldset>
                          </md-whiteframe>
                        </li>
                      </ul>
                      <div class="np-formula-array-add">
                        <md-button ng-click="field.itemAdd()" class="md-fab md-mini md-primary md-hue-1" aria-label="{{ form.i18n.add[1] }}">
                          <md-icon>add</md-icon>
                        </md-button>
                      </div>
                    </div>

                    <!-- field -->
                    <div ng-if="field.typeOf('field')">
                      <ul class="np-formula-array">
                        <li ng-class="{ valid: value.valid, error: value.error }" ng-repeat="value in field.values">
                          <formula:field-instance field="value" style="position: relative;" class="multi-ctrls"></formula:field-instance>
                          <md-menu class="np-formula-input-ctrls remove">
                            <md-button aria-label="Remove" class="md-icon-button remove" ng-click="$mdOpenMenu($event)">
                              <md-icon md-menu-origin>close</md-icon>
                            </md-button>
                            <md-menu-content>
                              <md-menu-item>
                                <md-button ng-click="field.itemRemove($index)" title="{{ form.i18n.remove[1] }}" class="md-warn">
                                  <md-icon md-menu-align-target>delete</md-icon> Remove item
                                </md-button>
                              </md-menu-item>
                            </md-menu-content>
                          </md-menu>
                        </li>
                      </ul>
                      <div class="np-formula-array-add">
                        <md-button ng-click="field.itemAdd()" class="md-fab md-mini md-primary md-hue-1" aria-label="{{ form.i18n.add[1] }}">
                          <md-icon>add</md-icon>
                        </md-button>
                      </div>
                    </div>

                  </fieldset>
                </md-whiteframe>
              </div>
            </div>

          </div>
        </div>
      </fieldset>

    </md-tab>
  </md-tabs>

  <div layout="row" layout-align="space-between center" ng-if="!data.hideButtons">
    <span ng-if="form.errors" title="{{ form.errors.join('\n') }}">{{ form.i18n.invalid | formulaReplace : { count: form.errors.length } }}</span>

    <div>
      <md-button class="md-raised" ng-click="form.validate(true)" title="{{ form.i18n.validate[1] }}">
        <md-icon>check</md-icon> {{ form.i18n.validate[0] }}</md-button>
      <md-button class="md-raised md-primary" ng-click="form.save()" ng-disabled="!form.valid" title="{{ form.i18n.save[1] }}">
        <md-icon>save</md-icon> {{ form.i18n.save[0] }}</md-button>
    </div>

  </div>
</form>

<npdc:loader ng-if="!form.fieldsets"></npdc:loader>
