.np-citation {
  background-color: rgb(249,238,166);
  color: #333;
  font-size: 14px;
  font-weight:600;
  padding: 5px 10px;
  display: inline-block;

  h4 {
    margin: 0 0 10px;
  }

  span {
    font-size: small;
  }
}
