<!DOCTYPE html>
<md-input-container class="np-formula-tabdata" ng-show="field.visible">
  <label for="{{::field.uid}}">{{ (field.required ? field.title + ' (' + i18n.text.required + ')' : field.title ) }}</label>
  <div class="np-formula-td-header">
    <span class="header-number"></span>
    <div class="header-string">{{csvHeader}}</div>
  </div>
  <textarea ng-model="csvData" md-no-autogrow class="csv-textarea"></textarea>
  <div class="np-td-delimiter">Delimiter: {{delimiter}}</div>
  <div ng-show="field.errors" class="np-validation-message">
    <div ng-repeat="error in field.errors" class="md-caption" role="alert">
      {{ field.getErrorText(error) }}
    </div>
  </div>
</md-input-container>
