<!DOCTYPE html>
<html ng-app="formulaDemo">

<head>
  <title>NPDC Formula layout</title>
  <link href="/npdc-material.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="initial-scale=1" />
</head>

<body>
  <div class="np-page-container">
    <npdc-md:toolbar class="np-header" role="banner"></npdc-md:toolbar>
    <md-content layout="row" class="np-content md-padding" ng-controller="FormulaCtrl">
      <div formula="formulaData" flex></div>
    </md-content>
  </div>
  <script src="/demos.js"></script>
</body>

</html>
