<!DOCTYPE html>
<footer layout="row" layout-align="center start" layout-wrap>
  <div flex="33" flex-sm="50" flex-order-sm="2">
    <div class="np-center-box">
      <ol class="address">
        <li><a href="http://npolar.no">Norwegian Polar Institute</a></li>
        <li><a href="http://framsenteret.no">Framsenteret</a></li>
        <li>9296 <a href="http://visittromso.no/">Tromsø</a></li>
        <li><a href="http://norway.no">Norway</a></li>
      </ol>
    </div>
  </div>
  <div flex="33" flex-sm="50" flex-order-sm="1">
    <div class="np-center-box">
      <a ng-href="/" class="np-toolbar-logo">
        <img src="/assets/img/NPI-logo-hvit-no.png" width="50px" height="50px" />
      </a>
      <h3 class="np-toolbar-title">
        Norwegian Polar Data Centre
      </h3>
    </div>
  </div>
  <div flex="33" flex-sm="100" flex-order-sm="3">
    <div class="np-center-box">
      <md-button class="md-icon-button" href="http://github.com/npolar/npdc">
        <i class="github-icon"></i>
        <md-tooltip>Open source @ Github</md-tooltip>
      </md-button>
      <md-button class="md-icon-button" href="http://www.facebook.com/NorskPolarinstitutt">
        <i class="facebook-icon"></i>
        <md-tooltip>NorskPolarinstitutt @ facebook</md-tooltip>
      </md-button>
      <md-button class="md-icon-button" href="http://twitter.com/NorskPolar">
        <i class="twitter-icon"></i>
        <md-tooltip>NorskPolar @ twitter</md-tooltip>
      </md-button>
    </div>
  </div>

  <a href="" id="scroll-up" onclick="window.scrollTo(0, 0); window.location.hash = '';" hide-sm>
    <md-icon>keyboard_arrow_up</md-icon>
    <md-tooltip md-direction="left">Scroll to top</md-tooltip>
  </a>
</footer>
