<!DOCTYPE html>
<footer layout="row" layout-align="center start" layout-wrap>
  <div flex="33" flex-sm="50" flex-order-sm="2">
    <div class="np-center-box">
      <ol class="address"><md-tooltip>NPDC is a permanent facility operated by the {{ 'npolar.no' |t }}</md-tooltip>
        <li><strong><a href="https://data.npolar.no">Norwegian Polar Data Centre</a></strong></li>
        <li><a href="http://npolar.no">{{ 'npolar.no' |t }}</a></li>
      </ol>

    </div>
  </div>
  <div flex="33" flex-sm="50" flex-order-sm="1">
    <md-tooltip>NPDC is registered with re3data.org</md-tooltip>
    <div class="np-center-box">
      <a href="https://doi.org/10.17616/R3B94H"><img src="/assets/img/re3datalogo.png" width="142px" style="max-width:100%"/></a>
    </div>
  </div>
  <div flex="33" flex-sm="100" flex-order-sm="3">
    <div class="np-center-box">
      <md-button class="md-icon-button" href="http://github.com/npolar/npdc-common">
        <i class="github-icon"></i>
        <md-tooltip>Open source @ Github</md-tooltip>
      </md-button>
    </div>
  </div>

  <a href="" id="scroll-up" onclick="window.scrollTo(0, 0); window.location.hash = '';" hide-sm hide-xs>
    <md-icon>keyboard_arrow_up</md-icon>
    <md-tooltip md-direction="left">Scroll to top</md-tooltip>
  </a>
</footer>
<npolar-message></npolar-message>

<script>
  // Google Analytics
  // https://developers.google.com/analytics/devguides/collection/analyticsjs/
  window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
  ga('create', 'UA-770196-26', 'auto');
  ga('send', 'pageview');
</script>
<script async src='//www.google-analytics.com/analytics.js'></script>
<script>
  //https://support.google.com/analytics/answer/1136920?hl=en
  /**
  * Function that tracks a click on an outbound link in Google Analytics.
  * For this to work the outbound link needs a onclick="trackOutboundLink(uri); return false;" like:
  * [a href="http://api.npolar.no/oceanography/?q=&amp;format=json" onclick="trackOutboundLink('http://api.npolar.no/oceanography/?q=&amp;format=json'); return false;" target="_blank"]Oceanography API[/a]
  */
  var trackOutboundLink = function(url) {
     ga('send', 'event', 'outbound', 'click', url, {'hitCallback':
       function () {
       document.location = url;
       }
     });
  };
</script>
