.timeline-post {
  @border-width: 4px;
  @color: @color-primary-0;
  @active-color: @color-complement-3;

  .make-row();
  padding: 15px;
  text-align: center;
  height: 100%;
  position: relative;
  .content {
    overflow: hidden;
    background-color: #F0F3F4;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 0px 3px rgba(0,0,0,.14);

    @media (min-width: @screen-sm-min) {
      margin-right: 70px;
    }
  }

  .timeline {
    .hidden-xs;
    width: 85px;
    position: absolute;
    padding-right: 10px;
    top: 0;
    bottom: 0;
    right: 0;
    font-size: 30px;
    color: @color;
    .icon {
      margin-top: 20px;
      float: right;
      border-radius: 100%;
      display: inline-block;
      //border: 1px solid @color;
      width: 50px;
      height: 50px;
      line-height: 50px;
      z-index: 3;
      background-color: white;
      span {
        vertical-align: text-top;
      }
    }
    .v-line {
      z-index: -1;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 36px;
      border-left: solid @border-width;
      color: @color;
    }
    .h-line {
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      width: 36px;
      height: 46px;
      border-bottom: solid @border-width;
    }

  }

  &.sticky {
    .content {
      background-color: white;
    }
  }

  &:first-child {
    .v-line {
      top: 64px + @border-width;
    }
  }

  &:last-child {
    .v-line {
      bottom: auto;
      height: 30px;
    }
  }

  &.active {

    .timeline {
      color: @active-color;
      .icon {
        text-shadow: 0 0 15px @active-color;
        transition: all 0.3s;
      }
    }
  }
}
