header {
  //padding: 15px;
  .content {
    border: none;
    box-shadow: none;
    background-color: white;
    text-align: center;
    p {
      margin-left: 20px;
      margin-right: 20px;
    }
  }


  .timeline {
    @border-width: 3px;
    @color: @color-primary-0;
    .clearfix();
    .h-line {
      color: @color;
      z-index: -1;
      float: right;
      margin-right: 18px;
      width: 48.5%;
      height: 16px;

      @media (min-width: @screen-sm-min) {
        border-bottom: solid @border-width;
        border-left: solid @border-width;
      }
    }

    .latest-data {
      background-color: @color;
      color: white;
      font-weight: bold;
      text-align: center;
      padding: 7px;

      @media (min-width: @screen-sm-min) {
        width: 100px;
        margin: 0 auto;
      }
    }
  }
}
