<!DOCTYPE html>
<md-dialog aria-label="{{ 'upload.title' | t }}" class="filefunnel">
  <md-dialog-content>
    <div class="md-dialog-content">
      <h2 class="md-title">{{ 'upload.title' | t }}</h2>

      <md-list>
        <md-list-item class="md-3-line" ng-repeat="file in ff.files">
          <md-icon class="md-avatar">attachment</md-icon>
          <div class="md-list-item-text">
            <h3>{{file.reference.name}}</h3>
            <md-progress-linear md-mode="{{ff.progressType}}" value="{{file.progress}}"></md-progress-linear>
            <span class="{{file.elements.info.dom.className}}">{{file.elements.info.value}}</span>
          </div>
        </md-list-item>
        <md-list-item ng-if="askForScope && ff.files.length">
          <p>{{ 'upload.restrict' | t }}</p>
          <md-checkbox class="md-secondary" ng-model="access.data"></md-checkbox>
        </md-list-item>
      </md-list>

    </div>
  </md-dialog-content>
  <md-dialog-actions>
    <div flex layout="row" layout-align="space-between center">
      <md-button class="md-raised md-primary" ng-disabled="ff.status == FileFunnelStatus.UPLOADING"
        ng-click="ff.browse()" >{{ 'upload.choose' | t }}</md-button>

      <md-button class="md-raised md-primary" ng-if="ff.status != FileFunnelStatus.UPLOADING"
        ng-disabled="ff.status == FileFunnelStatus.NONE" ng-click="upload()">{{ 'upload.action' | t }}</md-button>
      <md-button class="md-raised md-primary" ng-if="ff.status == FileFunnelStatus.UPLOADING"
        ng-click="abort();">{{ 'cancel' | t }}</md-button>
    </div>
  </md-dialog-actions>
</md-dialog>
