<!DOCTYPE html>
<section ng-controller="NpdcAuthorsController as ctrl">
  <md-menu>
 
    <md-button class="md-fab md-primary md-hue-2" aria-label="Open people interactions menu" ng-click="$mdOpenMenu($event)">
       <md-icon md-menu-origin>people</md-icon>
       <md-tooltip md-direction="left">{{ authors.length }} {{ (authors.length > 1) ? ('authors'|t) : ('author'|t) }}
        <span ng-if="ctrl.contributors.length > 0">{{ contributors.length}}</span>
       </md-tooltip>
    </md-button>

    <md-menu-content width="6">
  
        <md-menu-item ng-if="ctrl.contributors.length > 0">
          <md-button ng-click="ctrl.flip('contributor')">
            Show {{ ctrl.show('contributor') ? 'only authors' : 'contributors' }}
          </md-button>
        </md-menu-item>
       
        <md-menu-divider ng-if="ctrl.contributors.length > 0"></md-menu-divider>
       
        <md-menu-item>
          <md-button md-autofocus ng-click="ctrl.flip('affiliations')">
            Show {{ ctrl.show('affiliations') ? 'names' : 'affiliations' }}
          </md-button>
        </md-menu-item>
      
    </md-menu-content>
  </md-menu>
  
  <span ng-show="true" class="np-authors">
    <span ng-repeat="p in ctrl.authors" class="author" ng-click="ctrl.gotoPerson(p)">
      <span>{{ p.name }}<a ng-if="p.email && hasRole(p,'pointOfContact')" ng-href="mailto:{{p.email}}"><md-icon>email</md-icon></a><md-tooltip md-direction="top" md-delay="150">{{ p.roles }}</md-tooltip></span><span class="md-caption" ng-show="ctrl.show('affiliations')"><span ng-if="ctrl.isNpolar(p.organisation)"><img height="20" ng-src="{{ctrl.tinyLogo('npolar.no')}}"></img></span><span ng-if="!ctrl.isNpolar(p.organisation)">&nbsp;{{ p.organisation || '' }}</span></span><span ng-if="!$last">, </span>
    </span>
    <p ng-show="ctrl.show('contributor')">
      <span ng-repeat="p in ctrl.contributors" ng-click="ctrl.gotoPerson(p)">
        {{ p.name  }} {{p.roles|json}}<a ng-if="p.email && hasRole(p,'pointOfContact')" ng-href="mailto:{{p.email}}"><md-icon>email</md-icon></a>
        <md-tooltip md-direction="top" md-delay="150">{{ p.name  }} ({{ (p.organisation||'') | t}})</md-tooltip>
        <span ng-if="!$last">, </span>
      </span>
    </p>
  </span>
 
  
</section>