<!DOCTYPE html>
<html ng-app="npdcHome">
	<head>
		<title>NPDC Start Page</title>
		<link href="/assets/npdc-common-master-latest.css" rel="stylesheet">
		<meta name="viewport" content="initial-scale=1" />
	</head>
	<body class="npdc-home" ng-controller="npdcHomeController">
		<npdc:toolbar options="options"></npdc:toolbar>

		<header>
			<nav class="quicknav">
				<a href="//data.npolar.no/publications">
					<md-icon>search</md-icon>
					<span class="label">Browse</span>
					<span class="text">4k+ publications</span>
					<md-tooltip md-direction="down">Publications</md-tooltip>
				</a>

				<a href="//data.npolar.no/geodata">
					<md-icon>map</md-icon>
					<span class="label">Discover</span>
					<span class="text">Open Geographic Data</span>
					<md-tooltip md-direction="down">Geodata</md-tooltip>
				</a>

				<a href="//api.npolar.no">
					<md-icon>computer</md-icon>
					<span class="label">Develop</span>
					<span class="text">Using 30+ REST API's</span>
					<md-tooltip md-direction="down">API's</md-tooltip>
				</a>
			</nav>

			<nav class="pagenav">
				<a href="##news">
					<md-icon>whatshot</md-icon>
					<md-tooltip md-direction="down">News</md-tooltip>
				</a>

				<a href="##expeditions">
					<md-icon>explore</md-icon>
					<md-tooltip md-direction="down">Expeditions</md-tooltip>
				</a>

				<a href="##documents">
					<md-icon>description</md-icon>
					<md-tooltip md-direction="down">Documents</md-tooltip>
				</a>
			</nav>
		</header>

		<section id="splash">
			<p>Open Norwegian Polar Data</p>
		</section>

		<section id="news">
			<h2>News</h2>
			<md-icon>whatshot</md-icon>

			<p>
				<!-- Some information about what's hot... -->
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus.
				Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit.
				Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue.
				Nam tincidunt congue enim, ut porta lorem lacinia consectetur.
				Donec ut libero sed arcu vehicula ultricies a non tortor.
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem.
				Ut turpis felis, pulvinar a semper sed, adipiscing id dolor.
				Pellentesque auctor nisi id magna consequat sagittis.
				Curabitur dapibus enim sit amet elit pharetra tincidunt feugiat nisl imperdiet.
				Ut convallis libero in urna ultrices accumsan. Donec sed odio eros.
				Donec viverra mi quis quam pulvinar at malesuada arcu rhoncus.
				Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
				In rutrum accumsan ultricies. Mauris vitae nisi at sem facilisis semper ac in est.
			</p>

			<!-- List of news -->
		</section>

		<section id="expeditions">
			<h2>Expeditions</h2>
			<md-icon>explore</md-icon>

			<p>
				<!-- Some information about our expeditions... -->
				The following is a list of the latest expeditions the Environmental Data Section has been involved with.
				For a complete list of expeditions, check out the <a href="/expedition">Expedition</a> application.
			</p>

			<md-grid-list md-cols="4" md-gutter="1em" md-row-height="180px">
				<md-grid-tile ng-repeat="expedition in latest['expedition']">
					<a ng-href="/expedition/{{ expedition.id }}">
						<!-- Image of expedition -->

						<md-grid-tile-footer>
							<h3>{{ expedition.code }}</h3>
						</md-grid-tile-footer>
					</a>
				</md-grid-tile>
			</md-grid-list>
		</section>

		<section id="documents">
			<h2>Documents</h2>
			<md-icon>description</md-icon>

			<p>
				<!-- Some information about our documents... -->
				Suspendisse lectus leo, consectetur in tempor sit amet, placerat quis neque.
				Etiam luctus porttitor lorem, sed suscipit est rutrum non. Curabitur lobortis nisl a enim congue semper.
				Aenean commodo ultrices imperdiet. Vestibulum ut justo vel sapien venenatis tincidunt.
				Phasellus eget dolor sit amet ipsum dapibus condimentum vitae quis lectus.
				Aliquam ut massa in turpis dapibus convallis. Praesent elit lacus, vestibulum at malesuada et, ornare et est.
				Ut augue nunc, sodales ut euismod non, adipiscing vitae orci.
				Mauris ut placerat justo. Mauris in ultricies enim.
				Quisque nec est eleifend nulla ultrices egestas quis ut quam.
				Donec sollicitudin lectus a mauris pulvinar id aliquam urna cursus. Cras quis ligula sem, vel elementum mi.
				Phasellus non ullamcorper urna.
			</p>

			<md-grid-list md-cols="2" md-gutter="1em" md-row-height="220px">
				<md-grid-tile>
					<a ng-href="">
						<!-- Image of data policy document -->

						<md-grid-tile-footer>
							<h3>Data Policy</h3>
						</md-grid-tile-footer>
					</a>
				</md-grid-tile>

				<md-grid-tile>
					<a ng-href="">
						<!-- Image of publication guidelines -->

						<md-grid-tile-footer>
							<h3>Publication Guidelines</h3>
						</md-grid-tile-footer>
					</a>
				</md-grid-tile>
			</md-grid-list>

		</section>

		<footer>
			<h3>Norwegian Polar Data Centre</h3>
			<ol class="address">
				<li><a href="//npolar.no">Norwegian Polar Institute</a></li>
				<li><a href="//framsenteret.no">Framsenteret</a></li>
				<li>9296 Tromsø</li>
				<li>Norway</li>
			</ol>

			<a href="" id="scroll-up" onclick="window.scrollTo(0, 0);">
				<md-icon>keyboard_arrow_up</md-icon>
				<md-tooltip md-direction="left">Scroll to top</md-tooltip>
			</a>
		</footer>
	</body>
	<script src="/demo/demos.js"></script>
</html>
