<!DOCTYPE html>
<html ng-app="start">
	<head>
		<title>NPDC Start Page</title>
		<link href="/assets/npdc-common-master-latest.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<meta name="viewport" content="initial-scale=1" />
	</head>
	<body class="npdc-home">
		<header>
			<npdc:toolbar></npdc:toolbar>

			<div class="quicknav">
				<div class="item">
					<a href="#">
						<md-icon>search</md-icon>
						<span class="label">Browse</span>
						<span class="text">12214 publications</span>
					</a>
				</div>
				
				<div class="item">
					<a href="#">
						<md-icon>image</md-icon>
						<span class="label">Visualise</span>
						<span class="text">853 graphs</span>
					</a>
				</div>
				
				<div class="item">
					<a href="#">
						<md-icon>file_download</md-icon>
						<span class="label">Download</span>
						<span class="text">28456 datasets</span>
					</a>
				</div>
			</div>
			
			<nav>
				<a href="#news">
					<md-icon>whatshot</md-icon>
					<md-tooltip md-direction="top">News</md-tooltip>
				</a>
				
				<a href="#foobar">
					<md-icon>explore</md-icon>
					<md-tooltip md-direction="top">Foobar</md-tooltip>
				</a>
				
				<a href="#policy">
					<md-icon>account_balance</md-icon>
					<md-tooltip md-direction="top">Policy</md-tooltip>
				</a>
			</nav>
		</header>
		
		<section id="news">
			<h2>News</h2>
			<md-icon>whatshot</md-icon>
			
			<p>news...</p>
			<p>news...</p>
		</section>
		
		<section id="foobar">
			<h2>Foobar</h2>
			<md-icon>explore</md-icon>
			
			<p>foobar...</p>
			<p>foobar...</p>
		</section>
		
		<section id="policy">
			<h2>Data policy</h2>
			<md-icon>account_balance</md-icon>
			
			<p>policy...</p>
			<p>policy...</p>
		</section>
	</body>
	<script src="/demo/demos.js"></script>
</html>
