<!DOCTYPE html>
<html ng-app="start">
	<head>
		<title>NPDC Start Page</title>
		<link href="/assets/npdc-common-master-latest.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<meta name="viewport" content="initial-scale=1" />
	</head>
	<body class="npdc-home">
		<header>
			<npdc:toolbar></npdc:toolbar>
			
			<div class="row">
				<div class="col">
					<a href="#">
						<md-icon>search</md-icon>
						<span class="label">Browse</span>
						<span class="text">12214 publications</span>
					</a>
				</div>
				
				<div class="col">
					<a href="#">
						<md-icon>image</md-icon>
						<span class="label">Visualise</span>
						<span class="text">853 graphs</span>
					</a>
				</div>
				
				<div class="col">
					<a href="#">
						<md-icon>file_download</md-icon>
						<span class="label">Download</span>
						<span class="text">28456 datasets</span>
					</a>
				</div>
				
				<p>Norwegian Polar Data</p>
			</div>
			
			<nav>
				<a href="#news">
					<md-icon>whatshot</md-icon>
					<md-tooltip md-direction="top">News</md-tooltip>
				</a>
				
				<a href="#second">
					<md-icon>explore</md-icon>
					<md-tooltip md-direction="top">Second</md-tooltip>
				</a>
				
				<a href="#policy">
					<md-icon>account_balance</md-icon>
					<md-tooltip md-direction="top">Policy</md-tooltip>
				</a>
				
				<!--
				<a href="#fourth">
					<md-icon>work</md-icon>
					<md-tooltip md-direction="top">Fourth</md-tooltip>
				</a>
				
				<a href="#fifth">
					<md-icon>dashboard</md-icon>
					<md-tooltip md-direction="top">Fifth</md-tooltip>
				</a>
				-->
			</nav>
		</header>
		
		<section id="news">
			<p>news...</p>
			<p>news...</p>
			<p>news...</p>
			<p>news...</p>
		</section>
		
		<section id="second">
			<p>barbaz</p>
			<p>barbaz</p>
			<p>barbaz</p>
			<p>barbaz</p>
		</section>
		
		<section id="policy">
			<p>policy...</p>
			<p>policy...</p>
			<p>policy...</p>
			<p>policy...</p>
		</section>
	</body>
	<script src="/demo/demos.js"></script>
</html>
