/** http://paletton.com/#uid=63o0f0kq-flghpJlxkyv-aqHL5V **/

// Primary colors
$color-1-bg: #0F3F4C;
$color-1-fg: #417280;
$color-1-ex: #01171D;

// Secondary colors
$color-2-bg: #0E503E;
$color-2-fg: #428673;
$color-2-ex: #001F16;

// Tertiary colors
$color-3-bg: #132F50;
$color-3-fg: #486486;
$color-3-ex: #020F1F;

// Quaternary colors
$color-4-bg: #7A4815;
$color-4-fg: #CD9965;
$color-4-ex: #2F1800;

// Page section map
$section-map:
(
	("news",	$color-2-bg, $color-2-fg, $color-2-ex),
	("foobar",	$color-3-bg, $color-3-fg, $color-3-ex),
	("policy",	$color-4-bg, $color-4-fg, $color-4-ex)
);

// Animation speeds
$anim-speed: .4s;


//** END OF PAGE CONFIGURATIONS **\\


body.npdc-home
{
	background-attachment:		fixed;
	background-color:			white;
	background-image:
		repeating-linear-gradient( 30deg, rgba(15,  63,  76, .4) 10%, rgba(65, 114, 128, .2) 30%, rgba(36,  87, 102, .2) 60%),
		repeating-linear-gradient(170deg, rgba(65, 114, 128, .2) 20%, rgba(15,  63,  76, .2) 40%, rgba( 2,  41,  52, .4) 80%),
		repeating-linear-gradient(250deg, rgba(15,  63,  76, .2) 10%, rgba(36,  87, 102, .2) 40%, rgba( 1,  23,  29, .4) 90%);
	height: 					auto;

	header
	{
		background-color:		$color-1-bg;
		font-size:				30px;
		height:					90vh;
		position:				relative;
		text-align:				center;

		md-toolbar
		{
			background-color:	$color-1-bg;
			box-shadow:			none;

			img
			{
				display:		none;
			}
		}

		/*
		md-toolbar:after
		{
			content:			'';
			display:			block;
			position:			absolute;
			height:				80px;
			width:				100%;
			//background:			linear-gradient(180deg, $color-1-bg, rgba(255,255,255,.8) 90%);
		}
		*/
		
		.quicknav
		{
			display:			block;
			font-size:			0;
			position:			relative;
			top:				50%;
			transform:			translateY(-50%);
			overflow:			hidden;
			
			.item
			{
				display:		block;
				
				a
				{
					color:				$color-2-fg;
					display:			block;
					font-size:			15px;
					margin:				5vh 5vw;
					text-align: 		center;
					text-decoration:	none;
					text-shadow: 		1px 1px 2px $color-1-ex;
					transition:			$anim-speed;
					
					md-icon
					{
						color:			white;
						display:		block;
						font-size:		2em;
						height:			1em;
						text-shadow: 	0 0 10px $color-1-ex;
						width:			1em;
					}
	
					span.label
					{
						display:		block;
						font-size:		1em;
					}
	
					span.text
					{
						display:		none;
					}
				}
				
				a:hover
				{
					color:				$color-2-ex;
					text-shadow: 		0 0 10px $color-2-fg;
					transform:			scale(1.5, 1.5);
				}
			}
		}
		
		@media (min-width: 700px)
		{
			.quicknav
			{				
				.item
				{
					display:				inline-block;

					a
					{
						margin:				0;
						padding:			5vh 5vw;
						text-align: 		center;
						text-shadow: 		1px 1px 2px $color-1-ex;
	
						md-icon
						{
							color:			white;
							display:		block;
							font-size:		4em;
							height:			1em;
							text-shadow: 	0 0 10px $color-1-ex;
							width:			1em;
						}
	
						span.label
						{
							font-size:		2em;
						}
	
						span.text
						{
							color:			$color-2-ex;
							display:		block;
							font-size:		1em;
							text-shadow:	none;
						}
					}
	
					a:hover
					{
						transform:			scale(1.2, 1.2) rotateZ(5deg);
					}
					
					@media (max-height: 400px)
					{
						a
						{
							font-size:		10px;
						}
					}
				}
	
				.item:not(:last-of-type)
				{
					border-right: 1px solid $color-1-ex;
					padding-right: 10px;
				}
	
				.item:not(:first-of-type)
				{
					border-left: 1px solid $color-1-fg;
					padding-left: 10px;
				}
			}
		}

		nav
		{
			bottom:				0;
			position:			absolute;
			text-align:			center;
			width:				100%;

			a
			{
				background-color:	$color-1-ex;
				border-radius:		50% 50% 0 0;
				color:				$color-1-fg;
				display:			inline-block;
				padding-bottom:		5px;
				position:			relative;
				transition:			$anim-speed;
				vertical-align:		bottom;

				md-icon
				{
					color:			inherit;
					font-size:		30px;
					padding:		15px;
					width:			1em;
				}
			}

			a:hover
			{
				box-shadow:			0 0 15px 0 rgba(0, 0, 0, 0.5);
				padding-bottom:		15px;
				transform:			translateY(15px);
			}

			a:after
			{
				border-left:		1em solid transparent;
				border-right:		1em solid transparent;
				border-top:			1em solid $color-1-ex;
				bottom:				-1em;
				content:			'';
				left:				0;
				position:			absolute;
			}

			// Customize defined sections
			@each $id, $bg, $fg, $ex in $section-map
			{
				a[href="##{$id}"]
				{
					background-color:	$bg;
					color:				$fg;
				}

				a[href="##{$id}"]:after
				{
					border-top: 		1em solid $bg;
				}
			}
		}
	}

	section
	{
		background-color:			$color-1-bg;
		margin:						0;
		position:					relative;
		top:						10vh;

		h2
		{
			color:					$color-1-bg;
			font-size:				3em;
			margin:					0 20px;
			opacity: 				.4;
			padding:				20px 0;
			text-align:				center;
		}

		md-icon
		{
			bottom:					1em;
			color:					$color-1-bg;
			font-size:				80px;
			opacity: 				.1;
			position:				absolute;
			right:					1em;
			text-shadow: 			-1px -1px 0 $color-1-ex, 1px 1px 0 $color-1-fg;
		}

		p
		{
			margin: 0;
			padding: 40px;
		}
	}

	// Customize defined sections
	@each $id, $bg, $fg, $ex in $section-map
	{
		section[id="#{$id}"]
		{
			background-color:	$bg;
			color:				$fg;

			h2
			{
				color:			$bg;
				text-shadow:	-1px -1px 0 $ex, 1px 1px 0 $fg;
			}
		}
	}
}
