.np-expand-search {
  color: $color-text-grey;
  font-size: 16px;
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  z-index: 10;

  &:not(.open) {
    -webkit-transition: width .5s;
    transition: width .5s;
    -webkit-transition-delay: .5s;
    transition-delay: .5s;

    .np-es-filter {
      opacity: 0;
    }
  }

  md-fab-trigger {
    top: 47%;
    transform: translateY(-50%);

    .md-button {
      margin-right: 15px;
    }
  }

  md-fab-toolbar md-toolbar {
    z-index: 0;
  }

  label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  //WebKit, Blink, Edge
   ::-webkit-input-placeholder {
    color: $color-text-grey;
  }

  //Mozilla Firefox 4 to 18
 :-moz-placeholder {
    color: $color-text-grey;
    opacity: 1;
  }

  //Mozilla Firefox 19+
 ::-moz-placeholder {
    color: $color-text-grey;
    opacity: 1;
  }

  //Internet Explorer 10-11
  :-ms-input-placeholder {
    color: $color-text-grey;
  }

  .md-fab-action-item {
    height: 100%;
    line-height: 100%;
    position: relative;
    vertical-align: middle;
    width: 100%;
  }

  .np-es-filter {
    background-color: $color-bg-light;
    box-shadow: 0 2px 7px -2px rgb(71, 71, 71) inset, 0 2px 7px -3px rgb(71, 71, 71);
    box-sizing: border-box;
    max-height: 0;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 15px;
    position: absolute;
    -webkit-transition: all .5s;
    transition: all .5s;
    visibility: hidden;
    width: 100%;

    &.open {
      max-height: 50vh;
      opacity: 1;
      overflow-y: auto;
      visibility: visible;
      z-index: 10;
    }
  }

  .np-es-input {
    color: $color-text-light;
    height: 100%;
    padding-bottom: 2px;

    .md-button,
    md-icon {
      color: $color-primary-0 !important;
    }

    > .md-button {
      margin-top: 6px;
    }

    .es-search-icon {
      margin-top: 25px;
    }

  }

  &.open {
    width: 100%;

    md-fab-toolbar md-toolbar {
      z-index: 21;
    }

    md-toolbar.md-white-theme md-input-container:not(.md-input-focused) md-icon {
      color: $color-text-grey;
    }
  }
}

#np-es-click-area {
  bottom: 0;
  display: none;
  height: 100vh;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: 5;

  &.open {
    display: block;
  }
}
