<!DOCTYPE html>
<div class="np-expand-search" ng-keyup="keyup($event);" ng-class="{ open: isOpen, sm: $mdMedia('sm'), md: $mdMedia('md'), lg: $mdMedia('lg')}">
  <md-fab-toolbar md-theme="white" md-open="isOpen" md-direction="left">
    <md-fab-trigger>
      <md-button aria-label="search" class="md-fab md-mini" ng-focus-out="blockEvent($event);" ng-click="open($event);">
        <md-icon>search</md-icon>
      </md-button>
    </md-fab-trigger>

    <md-toolbar ng-focus-out="blockEvent($event);" ng-click="blockEvent($event);">
      <md-fab-actions class="md-toolbar-tools">
        <div class="np-es-input" ng-class="{open : isFiltersOpen}" layout>
          <div flex layout>
            <npdc:autocomplete flex options="options"></npdc:autocomplete>
          </div>
          <md-button class="md-icon-button" ng-click="toggleFilters();">
            <md-icon>settings</md-icon>
          </md-button>
          <md-button class="md-icon-button" ng-click="search();">
            <md-icon>search</md-icon>
          </md-button>
        </div>
      </md-fab-actions>
    </md-toolbar>
  </md-fab-toolbar>

  <div ng-show="isFiltersOpen && isOpen" class="np-es-filter" ng-class="{ open: isFiltersOpen && isOpen }">
    <div ng-if="options.showCollections" layout layout-wrap layout-align="space-between center">
      <md-checkbox flex="25" ng-model="options.collections[collection]" ng-repeat="(collection, value) in options.collections">{{ collection }}</md-checkbox>
    </div>
  </div>
</div>

<div id="np-es-click-area" ng-class="{ open: isOpen }" ng-click="close();"></div>
