<!DOCTYPE html>
<div class="np-expand-search" ng-keyup="keyup($event);" ng-class="{ open: isOpen, sm: $mdMedia('sm'), md: $mdMedia('md'), lg: $mdMedia('lg')}">
  <md-fab-toolbar md-theme="white" md-open="isOpen" md-direction="left">
    <md-fab-trigger>
      <md-button aria-label="search" class="md-fab md-mini" ng-focus-out="blockEvent($event);" ng-click="open($event);">
        <md-icon>search</md-icon>
        <md-tooltip>{{ 'search' | t }}</md-tooltip>
      </md-button>
    </md-fab-trigger>

    <md-toolbar ng-focus-out="blockEvent($event);" ng-click="blockEvent($event);">
      <md-fab-actions class="md-toolbar-tools">
        <form class="np-es-input" ng-class="{open : isFiltersOpen}" ng-submit="search();" layout>
          <div flex layout>
            <npdc:autocomplete flex options="options"></npdc:autocomplete>
          </div>
          <md-button class="md-icon-button" ng-click="toggleFilters();" aria-label="{{ 'search.filter' | t }}">
            <md-icon>settings</md-icon>
            <md-tooltip ng-if="isOpenDelay">{{ 'search.filter' | t }}</md-tooltip>
          </md-button>
          <md-button class="md-icon-button" type="submit" aria-label="{{ 'search' | t }}">
            <md-icon>search</md-icon>
            <md-tooltip ng-if="isOpenDelay">{{ 'search' | t }}</md-tooltip>
          </md-button>
        </form>
      </md-fab-actions>
    </md-toolbar>
  </md-fab-toolbar>

  <div ng-show="isFiltersOpen && isOpen" class="np-es-filter" ng-class="{ open: isFiltersOpen && isOpen }">
    <div ng-if="options.showCollections" layout layout-wrap layout-align="space-between center">
      <span flex="25" ng-repeat="collection in options.collections">
        <md-checkbox ng-model="collection.enabled">{{ collection.name }}</md-checkbox>
      </span>
    </div>
  </div>
</div>

<div id="np-es-click-area" ng-class="{ open: isOpen }" ng-click="close();"></div>
