@import 'variables';
@import 'mixins';
@import 'layouts/**/*';
@import 'components/**/*';

a,
a:visited,
md-menu-item a.md-button,
md-menu-item a.md-button:visited {
  color: $color-primary-0;
}

a:hover,
a:active {
  color: $color-primary-1;
}

a:focus,
button:focus,
div[tabindex] {
  outline: none;
}

.np-center-box {
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

.np-padding {
  box-sizing: border-box;
  padding: 1em;
}

.bg-primary {
  background-color: $color-primary-0;
}

dl {
  dt {
    clear: left;
    float: left;
    font-weight: bold;
    text-align: right;
    width: 100px;
  }

  dt:after {
    content: ':';
  }

  dd {
    margin: 0 0 0 110px;
    padding: 0 0 .5em;
  }
}


// need to raise z-index to allow leaflet an others to use bigger range
.md-open-menu-container {
  z-index: 1100 !important;
}

.md-menu-backdrop {
  z-index: 1050 !important;
}

#leaflet-map {
  min-height: 100px;
}

@media(max-width: 900px) {
  #leaflet-map {
    margin: 0 auto;
    max-width: 80%;
  }
}
