@import 'variables';
@import 'mixins';
@import 'layouts/**/*';
@import 'components/**/*';

body {
  height: 100.1%; // Force vertical scrollbar
  overflow-x: hidden;
}

a,
a:visited,
md-menu-item a.md-button,
md-menu-item a.md-button:visited {
  color: $color-primary-0;
}

a:hover,
a:active {
  color: $color-primary-1;
}

a:focus,
button:focus,
div[tabindex] {
  outline: none;
}

.np-center-box {
  margin: 0 auto;
  text-align: center;
  width: 60%;
}

.bg-primary {
  background-color: $color-primary-0;
}
