// Color palett
$color-primary-0: #0c3642;
$color-primary-1: #0f3f4c;
$color-primary-2: #427296;

$color-secondary-1: #36454f;
$color-secondary-2: #6a1c10;

// Typography
$color-text-light: #fff;
$color-text-dark: #000;
$color-text-grey: rgba(0, 0, 0, .54);

$color-bg-light: #fff;
$color-bg-dark: #b0bec5;

$color-np-success: #277554;
$color-np-warning: #aa6b39;
$color-np-error: #a8383b;

$bar-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
0 3px 1px -2px rgba(0, 0, 0, .2),
0 1px 5px 0 rgba(0, 0, 0, .12);
