.np-expand-search {

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }

  input[type=search] {
    @include border-radius(10em);
    @include transition(all .5s);
    -webkit-appearance: textfield;
    background: $color-bg-light url('img/material-icons/ic_search_black_24dp_1x.png') no-repeat 7px center;
    border: 0;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
    outline: none;
    padding: 6px 4px 6px 32px;
    width: 0;
  }

  input[type=search]:focus {
    @include box-shadow(0 0 5px rgba(0, 0, 0, .5));
    background-color: $color-bg-light;
    width: 160px;
  }

  input:-moz-placeholder {
    color: $color-bg-light;
  }

  input::-webkit-input-placeholder {
    color: $color-bg-light;
  }
}
