.np-expand-search {
  color: $color-text-grey;
  font-size: 16px;
  position: fixed;
  right: 0;
  top: 0;
  width: 65px;
  z-index: 10;

  &.sm {
    .md-fab-toolbar-wrapper {
      height: 56px;
    }

    .np-es-input {
      margin-top: 12px;
    }

  }

  &:not(.open) {
    -webkit-transition: width .5s;
    transition: width .5s;
    -webkit-transition-delay: .5s;
    transition-delay: .5s;

    .md-fab-toolbar-background {
      -webkit-transition-delay: .5s !important;
      transition-delay: .5s !important;
    }
  }

  md-fab-trigger {
    margin-top: 3px;
  }

  md-fab-toolbar md-toolbar {
    z-index: 0;
  }

  //WebKit, Blink, Edge
  ::-webkit-input-placeholder {
    color: $color-text-light;
  }

  //Mozilla Firefox 4 to 18
  :-moz-placeholder {
    color: $color-text-light;
    opacity: 1;
  }

  //Mozilla Firefox 19+
  ::-moz-placeholder {
    color: $color-text-light;
    opacity: 1;
  }

  //Internet Explorer 10-11
  :-ms-input-placeholder {
    color: $color-text-light;
  }

  .md-fab-action-item {
    height: 100%;
    line-height: 100%;
    position: relative;
    vertical-align: middle;
    width: 100%;
  }

  // @TODO fix transitions so that scroll is not visible during transition.
  // Might need js and transitionEnd event.
  .np-es-filter {
    background-color: $color-bg-light;
    box-shadow: 0 1px 7px rgb(71, 71, 71) inset;
    box-sizing: border-box;
    max-height: 0;
    overflow-y: hidden;
    padding: 15px;
    position: absolute;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transition-delay: 0;
    transition-delay: 0;
    visibility: hidden;
    width: 100%;

    &.open {
      max-height: 50vh;
      overflow-y: auto;
      -webkit-transition: all 1s;
      transition: all 1s;
      -webkit-transition-delay: .5s;
      transition-delay: .5s;
      visibility: visible;
      z-index: 10;
    }
  }

  .np-es-input {
    color: $color-text-light;
    margin-top: 20px;
    padding-bottom: 2px;
    width: 100%;
  }

  .np-toolbar-filter-icon {
    color: $color-text-grey !important;
    font-size: 18px;
    opacity: 1;
    position: absolute;
    right: 34px;
    top: 35px;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    -webkit-transition-delay: .5s;
    transition-delay: .5s;
    z-index: 22;
  }

  &.open {
    width: 100%;

    md-fab-toolbar md-toolbar {
      z-index: 21;
    }

    .np-toolbar-filter-icon {
      opacity: 0;
      z-index: 0;
    }
  }
}

#np-es-click-area {
  bottom: 0;
  display: none;
  height: 100vh;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: 5;

  &.open {
    display: block;
  }
}
