<!DOCTYPE html>
<div ng-show="field.visible">
  <div layout="row">
    <div flex="50"><formula:field-instance field="firstName"></formula:field-instance></div>
    <div flex="50"><formula:field-instance field="lastName"></formula:field-instance></div>
  </div>
  <formula:field-instance field="email"></formula:field-instance>
  <formula:field-instance field="organisation"></formula:field-instance>
  <div ng-repeat="field in otherFields" ng-show="field.visible">
    <formula:field-instance field="field"></formula:field-instance>
  </div>
</div>
