<!DOCTYPE html>
<html ng-app="userMenu" ng-strict-di>
  <head>
    <title>NPDC User menu</title>
    <link href="/npdc-material.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="initial-scale=1" />
    <style>
      #demo-wrapper {
        margin: 10px;
        width: 500px;
        box-shadow: 1px 1px 10px 1px #000;
      }
    </style>
  </head>
  <body>
    <div id="demo-wrapper">
      <npdc-md:user-menu></npdc-md:user-menu>
    </div>
    <script src="/demos.js"></script>
  </body>
</html>
