<!DOCTYPE html>
<md-menu ng-if="!security.isAuthenticated()">
  <md-button aria-label="Open user" class="md-icon-button" ng-click="$mdOpenMenu($event)">
    <md-icon md-menu-origin>person</md-icon>
    <md-tooltip>User login</md-tooltip>
  </md-button>
  <md-menu-content width="6">

    <form ng-if="true" role="form" layout-padding class="np-login">
      <div>
        <md-input-container>
          <label for="username" class="md-no-float">Username</label>
          <input type="text" ng-model="email" id="username">
        </md-input-container>
        <md-input-container>
          <label for="password" class="md-no-float">Password</label>
          <input type="password" id="password" ng-model="password">
        </md-input-container>
      </div>
      <div layout="row" layout-align="space-between center">
        <a ng-href="/user/reset?username={{user.username}}" ng-click="$mdMenu.hide();">Forgot password?</a>
        <a href="/user/register" ng-click="$mdMenu.hide();">Sign up</a>
<!--        <md-button type="submit" ng-click="gouncer.onetime(email)" class="md-raised md-primary">1-time password</md-button>
-->     <md-button type="submit" ng-click="login(email,password)" class="md-raised md-primary">Login</md-button>
      </div>
    </form>


  </md-menu-content>
</md-menu>

<md-menu ng-if="security.isAuthenticated()">
  <md-button aria-label="Open user" class="md-icon-button" ng-click="$mdOpenMenu($event)">
    <md-icon md-menu-origin>verified_user</md-icon>
    <md-tooltip>{{ security.getUser().name }}</md-tooltip>
  </md-button>
  <md-menu-content width="6">

    <md-menu-item>
      <md-button ng-href="/user/{{security.getUser().email }}" title="View profile for {{ security.getUser().name }}">
        <md-icon md-menu-align-target>face</md-icon>
        {{ security.getUser().name }}
      </md-button>
    </md-menu-item>

    <md-divider></md-divider>

    <md-menu-item>
      <md-button ng-click="logout()">
        <span>Logout</span>
      </md-button>
    </md-menu-item>

  </md-menu-content>
</md-menu>
