@import '../node_modules/sass-material-colors/sass/sass-material-colors';
// Use with `material-color('cyan', '400')`

// Color palett
$color-primary-0: #1570b1;
$color-primary-1: #7ea2bb;
$color-primary-2: #3e7ba7;
$color-primary-3: #065c99;
$color-primary-4: #034c80;

$color-secondary-1-0: #ff500f;
$color-secondary-1-1: #ffbfa7;
$color-secondary-1-2: #ff8254;
$color-secondary-1-3: #ef4100;
$color-secondary-1-4: #c73600;

$color-secondary-2-0: #0bbc6c;
$color-secondary-2-1: #81c4a5;
$color-secondary-2-2: #3bb37c;
$color-secondary-2-3: #00a55a;
$color-secondary-2-4: #008a4b;

$color-complement-0: #ff970f;
$color-complement-1: #ffd9a7;
$color-complement-2: #ffb554;
$color-complement-3: #ef8700;
$color-complement-4: #c77100;

// Typography
$color-text-light: #fff;
$color-text-dark: #000;

$color-bg-light: #fff;
$color-bg-dark: material-color('grey', '500');
