<!DOCTYPE html>
<script type="text/ng-template" id="any.html">
  <div ng-if="isArray(value)" layout="row" class="np-document-array">
    <div class="np-document-title md-title" flex>{{ key }}</div>
    <ul flex="85">
      <li ng-repeat="(key, value) in value">
        <ng-include src="'any.html'"></ng-include>
      </li>
    </ul>
  </div>
  <div ng-if="isObject(value)" layout="row" class="np-document-object">
    <div class="np-document-title md-title" flex>{{ key }}</div>
    <ul flex="85">
      <li ng-repeat="(key, value) in value">
        <ng-include src="'any.html'"></ng-include>
      </li>
    </ul>
  </div>
  <div ng-if="isItem(value)" layout="row" class="np-document-item">
    <div class="np-document-title md-title" flex>{{ key }}</div>
    <div class="np-document-value" flex="85">{{ value }}</div>
  </div>
</script>

<div class="np-document">
  <npdc:edit-button class="np-primary-control"></npdc:edit-button>
  <div class="np-document-ctrls" layout="row">
    <div class="np-document-ctrls-title" flex>Fancy: </div><md-switch flex ng-model="fancy" aria-label="Render mode"></md-switch>
  </div>
  <ul ng-if="fancy">
    <li ng-repeat="(key, value) in document">
      <ng-include src="'any.html'"></ng-include>
    </li>
  </ul>
  <pre ng-if="!fancy">
    {{ document | json }}
  </pre>
</div>
