.np-document {
  padding: 8px 16px;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    border-bottom-color: rgba(0, 0, 0, .12);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 16px 0;
  }

  .np-document-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .np-document-value {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .np-document-ctrls {
    position: absolute;
    right: 0;
    top: 0;
  }

  .np-document-ctrls-title {
    margin-right: 15px;
    margin-top: 19px;
  }
}
