.np-formula-tabdata {
  $height: 400px;
  height: $height;

  .line-numbers {
    border: 0;
    color: $color-text-grey;
    height: $height - 4px;
    left: 0;
    line-height: 26px;
    overflow: hidden;
    padding-right: .2em;
    position: absolute;
    text-align: right;
    top: 2px;
    width: 25px;
    z-index: 0;
  }

  .csv-textarea {
    padding-left: 40px;
    position: relative;
    z-index: 1;
  }

  .np-formula-td-header {
    background-color: $color-bg-light;
    box-sizing: border-box;
    left: 0;
    line-height: 26px;
    padding-top: 2px;
    position: absolute;
    top: 2px;
    width: calc(100% - 20px);
    z-index: 2;

    .header-string {
      border-bottom: 1px solid #ddd;
      box-sizing: border-box;
      color: $color-text-grey;
      padding-left: 40px;
      position: relative;
      white-space: pre-wrap;
    }

    .header-number {
      box-sizing: border-box;
      color: $color-text-grey;
      display: inline-block;
      padding-left: 2px;
      padding-right: .2em;
      position: absolute;
      text-align: right;
      width: 25px;
    }
  }
}
